<template>
  <footer class="home">
    <div class="container-fluid">
      <div class="container padding0">
        <div class="row">
          <div class="col-md-2 padding0">
            <a href="">
              <img src="@/images/logo.png" width="107" alt="">
            </a>
            <h6>ТОО "Cear Trans". 2018 год</h6>
          </div>
          <div class="col-md-3 padding0">
            <a href="">Пользовательское соглашение</a>
            <a href="">Правила размещения объявлений</a>
            <a href="">Рекламодателям посвящается</a>
            <a href="">О сайте, газете</a>
          </div>
          <div class="col-md-2 padding0">
            <h6>Следите за нашими новостями</h6>
            <div class="social">
              <a href="">
                <svg version="1.2" viewBox="0 0 96 96" style="width: 40px; height: 40px;">
                  <g>
                    <path style="fill:#030104;" d="M53.174,52.908c-1.539-0.896-3.678-0.896-5.416-0.896h-5.707v11.76h5.238
                      c1.939,0,4.412,0.139,6.084-1.035c1.535-1.033,2.404-3.061,2.404-4.992C55.777,55.951,54.709,53.805,53.174,52.908z M51.021,42.865
                      c1.27-0.967,1.936-2.691,1.936-4.279c0-1.725-0.801-3.381-2.27-4.277c-1.537-0.896-4.346-0.689-6.15-0.689h-2.486v10.35h3.289
                      C47.211,43.969,49.418,44.107,51.021,42.865z M79.125,0H16.873C7.555,0,0,7.555,0,16.875v62.25C0,88.443,7.555,96,16.873,96h62.252
                      C88.443,96,96,88.443,96,79.125v-62.25C96,7.555,88.443,0,79.125,0z M50.604,72.535H30.992V25.201H52.42
                      c6.207,0,11.934,3.951,11.934,10.92c0,5.381-3.004,9.066-6.836,10.211v0.139c5.682,1.174,9.74,4.26,9.74,11.705
                      C67.258,65.066,62.566,72.535,50.604,72.535z" vector-effect="non-scaling-stroke"></path>
                  </g>
                </svg>
              </a>
              <a href="">
                <svg version="1.2" viewBox="0 0 512 512" style="width: 40px; height: 40px;">
                  <g>
                    <g>
                      <path d="M452,0H60C26.916,0,0,26.916,0,60v392c0,33.084,26.916,60,60,60h392c33.084,0,60-26.916,60-60V60
                        C512,26.916,485.084,0,452,0z M472,452c0,11.028-8.972,20-20,20H338V309h61.79L410,247h-72v-43c0-16.975,13.025-30,30-30h41v-62
                        h-41c-50.923,0-91.978,41.25-91.978,92.174V247H216v62h60.022v163H60c-11.028,0-20-8.972-20-20V60c0-11.028,8.972-20,20-20h392
                        c11.028,0,20,8.972,20,20V452z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                </svg>
              </a>
              <a href="">
                <svg version="1.2" viewBox="0 0 512 512" style="width: 40px; height: 40px;">
                  <g>
                    <g>
                      <path d="M352,0H160C71.648,0,0,71.648,0,160v192c0,88.352,71.648,160,160,160h192c88.352,0,160-71.648,160-160V160
                        C512,71.648,440.352,0,352,0z M464,352c0,61.76-50.24,112-112,112H160c-61.76,0-112-50.24-112-112V160C48,98.24,98.24,48,160,48
                        h192c61.76,0,112,50.24,112,112V352z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g><g>
                    <g>
                      <path d="M256,128c-70.688,0-128,57.312-128,128s57.312,128,128,128s128-57.312,128-128S326.688,128,256,128z M256,336
                        c-44.096,0-80-35.904-80-80c0-44.128,35.904-80,80-80s80,35.872,80,80C336,300.096,300.096,336,256,336z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g><g>
                    <g>
                      <circle cx="393.6" cy="118.4" r="17.056" vector-effect="non-scaling-stroke"></circle>
                    </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div class="col-md-3 padding0">
            <div class="round">
              <h6>Алматы. ул. Желтоксан 87, офис 27</h6>
              <h6>тел.: <a href="tel:+77777777777">+7 777 777 77 77</a></h6>
              <h6>email: <a href="mailto:info@ceartrans.kz">info@ceartrans.kz</a></h6>
            </div>
          </div>
          <div class="col-md-2 padding0">
            <a href="">
              <img width="176" src="@/images/googleplay.png" alt="">
            </a>
            <a href="">
              <img width="176" src="@/images/apple.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
  export default {
  }
</script>