<template>
	<header id="header">
		<div class="container-fluid">
			<div class="container padding0">
				<div class="row col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-9">
						<a v-on:click="profile = !profile">
							<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 24 24"   style="opacity: 1; mix-blend-mode: normal; fill: rgb(255, 255, 255); width: 50px; height: 50px;"><g><path xmlns:default="http://www.w3.org/2000/svg" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" style="fill: rgb(255, 255, 255);"></path></g></svg>
						</a>
						<a href="">
							<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 511.526 511.526"   style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 35px; height: 35px;"><g transform="translate(1 1)">
								<g>
									<g>
										<path d="M510.147,141.27l-34.133-102.4c-0.853-3.413-4.267-5.973-7.68-5.973h-17.067c-3.413,0-5.973,1.707-7.68,5.12
											l-16.091,37.547H255c-1.707,0-4.267,0.853-5.973,2.56l-108.62,108.62c-12.67,1.692-21.94,12.094-21.94,25.353v59.733H75.8H33.987
											C14.36,271.83-1,288.043-1,306.816v7.68v34.133c0,5.12,3.413,8.533,8.533,8.533h128v8.533H54.467
											C23.747,365.696-1,390.443-1,421.163c0,30.72,24.747,55.467,55.467,55.467H319c30.72,0,55.467-24.747,55.467-55.467
											c0-30.72-24.747-55.467-55.467-55.467h-81.067v-8.533h25.6c5.12,0,8.533-3.413,8.533-8.533v-30.839
											c0.513-1.052,0.853-2.171,0.853-3.294v-66.56c0-20.48-10.24-39.253-27.307-51.2c-4.348-2.898-9.006-5.175-13.969-6.843
											l44.689-46.064l144.817-5.663l20.546,184.916c-4.537,0.433-7.496,3.716-7.496,8.481v34.133c0,3.228,1.359,5.775,3.644,7.218
											l-45.458,90.915c-1.707,2.56-1.707,5.973,0,8.533c1.707,2.56,5.12,4.267,7.68,4.267h48.64c25.6,0,48.64-16.213,56.32-41.813
											c4.267-11.947,4.267-25.6,0-37.547l-8.029-23.512c3.368-1.096,5.469-4.05,5.469-8.061v-34.133c0-5.12-3.413-8.533-8.533-8.533
											l16.213-178.347C511,143.83,510.147,142.123,510.147,141.27z M457.24,49.963h5.12l31.573,94.72L477.72,323.03h-18.773
											L434.2,102.87L457.24,49.963z M485.4,356.31h-34.133v-16.213H485.4V356.31z M220.85,204.794
											c6.447,1.569,12.429,4.597,17.529,8.802c0.367,0.308,0.738,0.613,1.095,0.931c0.102,0.09,0.203,0.181,0.305,0.272
											c1.907,1.73,3.665,3.604,5.259,5.596c0.193,0.244,0.383,0.491,0.571,0.739c0.144,0.188,0.283,0.38,0.424,0.569
											c2.225,3.038,4.103,6.392,5.554,10.019c0.314,0.627,0.6,1.254,0.864,1.883c1.642,4.568,2.55,9.397,2.55,14.331v54.613
											l-59.733-21.333c-10.24-4.267-17.067-13.653-17.067-24.747v-52.907h31.573C213.521,203.563,217.265,203.978,220.85,204.794z
											 M33.971,288.897c0.005,0,0.01-0.001,0.015-0.001h33.28c0,9.387-7.68,17.067-17.067,17.067H16.107
											c0.006-0.148,0.011-0.297,0.021-0.444C17.18,296.343,24.741,288.906,33.971,288.897z M357.4,421.163
											c0,21.333-17.067,38.4-38.4,38.4H54.467c-21.333,0-38.4-17.067-38.4-38.4c0-21.333,17.067-38.4,38.4-38.4h89.6H229.4H319
											C340.333,382.763,357.4,399.83,357.4,421.163z M220.867,365.696H152.6v-8.533h68.267V365.696z M229.4,340.096h-85.333h-128
											V323.03H50.2c18.773,0,34.133-15.36,34.133-34.133H127c5.12,0,8.533-3.413,8.533-8.533v-68.267c0-4.267,3.413-8.533,8.533-8.533
											h17.92v52.053c0,18.773,11.093,34.987,28.16,40.96L255,320.017v20.079H229.4z M272.067,126.763c-2.56,0-4.267,0.853-5.973,2.56
											l-54.613,57.173h-0.853h-0.853H170.52h-5.973l93.867-93.867h161.768l-2.194,5.12c-0.853,1.707-0.853,2.56-0.853,4.267
											l1.994,17.946L272.067,126.763z M488.813,430.55c-5.12,17.067-21.333,29.013-40.107,29.013H413.72l42.667-85.333h23.04
											l9.387,29.013C491.373,412.63,491.373,422.016,488.813,430.55z" vector-effect="non-scaling-stroke"></path>
										<path d="M67.267,391.296c-0.564,0-1.103,0.048-1.622,0.129c-0.873-0.081-1.754-0.129-2.644-0.129
											c-16.213,0-29.867,13.653-29.867,29.867c0,16.213,13.653,29.867,29.867,29.867c0.89,0,1.771-0.048,2.644-0.129
											c0.52,0.08,1.059,0.129,1.622,0.129H306.2c0.52,0,1.018-0.055,1.501-0.138c0.912,0.088,1.834,0.138,2.766,0.138
											c16.213,0,29.867-13.653,29.867-29.867c0-16.213-13.653-29.867-29.867-29.867c-0.89,0-1.771,0.048-2.644,0.129
											c-0.52-0.08-1.059-0.129-1.622-0.129H67.267z M50.2,421.163c0-6.827,5.973-12.8,12.8-12.8c6.375,0,12.002,5.21,12.72,11.459
											c0.004,0.033,0.01,0.065,0.013,0.098c0.044,0.411,0.067,0.825,0.067,1.243s-0.024,0.833-0.067,1.243
											c-0.003,0.033-0.01,0.065-0.013,0.098c-0.717,6.249-6.344,11.459-12.72,11.459C56.173,433.963,50.2,427.99,50.2,421.163z
											 M92.867,421.163c0-4.267-0.853-8.533-2.56-12.8h193.275c-1.905,3.902-2.981,8.25-2.981,12.8c0,4.55,1.076,8.898,2.981,12.8
											H90.307C92.013,429.696,92.867,425.43,92.867,421.163z M323.267,421.163c0,6.827-5.973,12.8-12.8,12.8
											c-6.375,0-12.002-5.21-12.72-11.459c-0.004-0.033-0.01-0.065-0.013-0.098c-0.044-0.411-0.067-0.825-0.067-1.243
											c0-0.425,0.023-0.847,0.068-1.265c0-0.005,0.001-0.009,0.002-0.014c0.686-6.277,6.333-11.522,12.73-11.522
											C317.293,408.363,323.267,414.336,323.267,421.163z" vector-effect="non-scaling-stroke"></path>
										</g>
									</g>
								</g>
							</svg>
							<span>Спецтехника</span>
						</a>
						<a href="">
							<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 512 512"   style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 35px; height: 35px;">
								<g>
									<g>
										<path d="M511.061,241.365c-0.213-0.512-0.427-0.981-0.725-1.472c-0.512-0.853-1.173-1.579-1.92-2.261
											c-0.299-0.277-0.427-0.661-0.768-0.896c-0.149-0.107-0.363-0.107-0.512-0.213c-0.192-0.128-0.299-0.32-0.512-0.448l-47.893-27.371
											c6.4-6.165,10.603-14.507,10.603-23.936c0-12.736-7.104-24.213-18.517-29.952l-78.165-39.083l9.067-22.677l6.144-3.072
											c3.179,1.92,6.848,2.965,10.667,2.965c1.941,0,3.925-0.256,5.888-0.811l82.219-23.509C501.568,64.341,512,50.517,512,34.987
											C512,15.701,496.299,0,477.013,0H467.2c-7.936,0-15.701,2.731-21.867,7.659l-59.819,47.851c-4.949,3.968-7.381,9.685-7.595,15.595
											l-9.365,4.672c-2.347,1.173-4.181,3.157-5.141,5.589l-9.92,24.789l-29.803-14.891c-22.763-11.392-51.947-5.227-68.181,14.251
											l-90.88,109.056L7.936,256.363c-0.597,0.171-1.045,0.533-1.6,0.789c-0.32,0.149-0.704,0.085-1.024,0.277
											c-0.192,0.107-0.277,0.341-0.448,0.448c-1.344,0.896-2.517,1.984-3.328,3.349c-0.085,0.149-0.128,0.299-0.213,0.448
											c-0.704,1.323-1.067,2.795-1.152,4.331c0,0.235-0.171,0.427-0.171,0.661V416c0,3.819,2.048,7.36,5.376,9.259l149.333,85.333
											c1.643,0.939,3.477,1.408,5.291,1.408c1.045,0,2.133-0.149,3.179-0.491l341.333-106.667c4.459-1.387,7.488-5.504,7.488-10.176
											V245.333c0-0.363-0.213-0.661-0.235-1.024C511.659,243.285,511.445,242.325,511.061,241.365z M458.688,24.32
											c2.389-1.92,5.419-2.987,8.512-2.987h9.835c7.531,0,13.653,6.123,13.653,13.653c0,6.059-4.075,11.456-9.899,13.12l-76.565,21.888
											c-0.021-0.043-0.021-0.064-0.021-0.107c-0.235-0.491-0.661-0.789-0.96-1.216L458.688,24.32z M271.915,119.168
											c6.635-7.936,16.363-12.501,26.709-12.501c5.355,0,10.731,1.28,15.595,3.648l31.339,15.659l-2.155,5.376l-103.573,62.165
											c-5.035,3.029-6.677,9.579-3.648,14.635c2.005,3.349,5.525,5.184,9.152,5.184c1.877,0,3.776-0.491,5.483-1.536l106.667-64
											c2.005-1.195,3.541-3.008,4.416-5.184l2.816-7.04l76.608,38.293c4.139,2.091,6.72,6.251,6.72,10.965
											c0,5.589-3.797,10.432-9.216,11.797l-5.184,1.301c-0.021,0-0.064,0.021-0.085,0.021l-287.083,71.765L271.915,119.168z
											 M149.333,482.944l-128-73.131V285.056l128,73.131V482.944z M161.259,340.437L38.507,270.293l102.485-27.328l-31.851,38.208
											c-2.944,3.563-3.285,8.597-0.832,12.501c1.963,3.157,5.419,4.992,9.024,4.992c0.853,0,1.728-0.107,2.603-0.341l35.84-8.96
											l30.741,18.453c1.728,1.024,3.627,1.515,5.483,1.515c3.605,0,7.147-1.835,9.152-5.163c3.029-5.056,1.408-11.605-3.648-14.635
											l-12.48-7.488l41.003-10.24l24.491,14.677c1.728,1.024,3.627,1.515,5.483,1.515c3.605,0,7.147-1.835,9.152-5.163
											c3.029-5.056,1.408-11.605-3.648-14.635l-6.208-3.712l41.024-10.261l18.176,10.923c1.749,1.024,3.648,1.515,5.504,1.515
											c3.605,0,7.147-1.835,9.152-5.163c3.008-5.035,1.408-11.541-3.584-14.592l41.024-10.261l11.925,7.147
											c1.728,1.045,3.627,1.536,5.483,1.536c3.605,0,7.147-1.835,9.152-5.163c1.941-3.243,1.792-7.04,0.213-10.197l41.451-10.368
											l39.979,22.848L161.259,340.437z M490.667,386.816l-320,100.011V359.829l320-99.989V386.816z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
							</svg>
							<span>Стройматериалы</span>
						</a>
						<a href="">
							<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 512 512"   style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 33px; height: 33px; ">
								<g>
									<g>
										<path d="M494.353,46.611l-30.766-30.766c-20.064-20.064-53.872-21.231-75.366-2.6l-54.071,46.87
											c-0.692,0.6-1.286,1.306-1.758,2.091l-52.635,87.676l-33.796,11.265c-2.856,0.952-5.015,3.315-5.706,6.244
											c-0.691,2.929,0.183,6.007,2.311,8.136l92.105,92.104c1.648,1.647,3.865,2.543,6.141,2.543c0.665,0,1.334-0.076,1.995-0.232
											c2.929-0.691,5.292-2.85,6.244-5.706l11.268-33.807l88.965-53.72c0.783-0.474,1.487-1.067,2.085-1.761l45.76-53.029
											C515.656,100.451,514.409,66.668,494.353,46.611z M483.981,110.572l-44.857,51.982l-90.52,54.659
											c-1.767,1.067-3.096,2.729-3.749,4.689l-7.837,23.512l-20.755-20.755c-0.004-0.004-0.007-0.009-0.011-0.013l-30.703-30.701
											c-0.003-0.003-0.007-0.005-0.01-0.008l-20.757-20.757l23.512-7.837c1.966-0.656,3.633-1.992,4.699-3.768l53.578-89.243
											l53.026-45.964c14.753-12.79,37.949-12.002,51.708,1.759l30.767,30.766C495.838,72.657,496.694,95.841,483.981,110.572z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
								<g>
									<g>
										<path d="M469.736,348.922c-25.496-25.495-63.021-34.357-97.02-23.335L188.164,141.035c11.021-33.999,2.159-71.525-23.335-97.021
											C137.969,17.156,97.758,8.754,62.384,22.618c-2.727,1.069-4.733,3.441-5.332,6.309c-0.599,2.867,0.288,5.844,2.36,7.916
											l55.241,55.24L77.81,128.925L22.57,73.684c-2.073-2.071-5.046-2.956-7.916-2.36c-2.868,0.599-5.241,2.604-6.309,5.332
											c-13.862,35.372-5.463,75.584,21.396,102.445c25.496,25.495,63.021,34.359,97.02,23.335l69.008,69.008l-85.937,85.939
											l-54.658,30.56c-1.52,0.85-2.75,2.138-3.529,3.696l-24.561,49.122c-1.672,3.343-1.017,7.381,1.626,10.025l30.701,30.702
											c1.667,1.667,3.89,2.543,6.143,2.543c1.319,0,2.648-0.3,3.882-0.917l49.122-24.561c1.558-0.779,2.846-2.009,3.696-3.529
											l30.56-54.659l85.939-85.936l72.561,72.561c-11.022,33.999-2.159,71.525,23.336,97.021c18.263,18.262,42.696,27.99,67.586,27.99
											c11.716-0.001,23.536-2.157,34.858-6.593c2.727-1.069,4.733-3.441,5.332-6.309c0.599-2.867-0.288-5.844-2.36-7.916l-55.241-55.241
											l36.842-36.841l55.24,55.24c2.072,2.072,5.047,2.961,7.916,2.36c2.868-0.599,5.241-2.604,6.309-5.332
											C504.995,415.995,496.596,375.783,469.736,348.922z M139.68,388.935c-0.565,0.565-1.048,1.205-1.438,1.903l-29.843,53.376
											L67.267,464.78l-21.85-21.85l20.565-41.133l53.375-29.842c0.698-0.39,1.338-0.873,1.903-1.438l86.789-86.79l18.421,18.421
											L139.68,388.935z M478.86,431.73l-51.052-51.052c-3.392-3.39-8.889-3.39-12.281,0l-49.122,49.122
											c-1.628,1.629-2.543,3.837-2.543,6.141s0.915,4.511,2.543,6.141l51.053,51.053c-25.314,5.03-51.861-2.739-70.527-21.405
											c-21.977-21.977-28.85-54.882-17.507-83.827c1.259-3.214,0.496-6.868-1.944-9.309L135.157,186.272
											c-1.66-1.659-3.881-2.543-6.143-2.543c-1.064,0-2.138,0.196-3.166,0.599c-28.944,11.344-61.849,4.469-83.827-17.506
											c-18.667-18.668-26.437-45.216-21.404-70.528l51.052,51.053c3.392,3.391,8.889,3.389,12.281,0l49.122-49.122
											c3.391-3.392,3.391-8.889,0-12.281L82.02,34.891c25.314-5.04,51.859,2.736,70.527,21.405
											c21.977,21.977,28.85,54.882,17.507,83.827c-1.259,3.214-0.496,6.868,1.944,9.309l192.321,192.32
											c2.442,2.44,6.098,3.203,9.309,1.944c28.946-11.34,61.849-4.47,83.827,17.506C476.124,379.87,483.892,406.419,478.86,431.73z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
							</svg>
							<span>Запчасти</span>
						</a>
						<a href="">
							<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 512.001 512.001"   style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 33px; height: 33px;">
								<g>
									<g>
										<path d="M341.954,328.358c-12.131,0-22-8.542-22-19.041c0-10.5,9.869-19.042,22-19.042c12.131,0,22,8.542,22,19.042
											c0,5.522,4.478,10,10,10c5.522,0,10-4.478,10-10c0-18.325-13.654-33.733-32-37.915v-5.201c0-5.522-4.478-10-10-10
											c-5.522,0-10,4.478-10,10v5.201c-18.346,4.182-32,19.59-32,37.915c0,21.527,18.841,39.041,42,39.041c12.131,0,22,8.542,22,19.042
											s-9.869,19.042-22,19.042c-12.131,0-22-8.542-22-19.042c0-5.522-4.478-10-10-10c-5.522,0-10,4.478-10,10
											c0,18.325,13.654,33.733,32,37.915v4.32c0,5.522,4.478,10,10,10c5.522,0,10-4.478,10-10v-4.32c18.346-4.182,32-19.59,32-37.915
											C383.954,345.872,365.113,328.358,341.954,328.358z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g><g>
									<g>
										<path d="M451.482,268.876c-13.063-20.355-31.467-36.643-53.222-47.101c-4.979-2.394-10.954-0.298-13.346,4.68
											c-2.393,4.978-0.298,10.952,4.68,13.345C427.505,258.024,452,296.963,452,339.001c0,17.988-4.434,35.827-12.821,51.591
											c-2.594,4.875-0.745,10.931,4.131,13.525c1.496,0.796,3.104,1.174,4.688,1.174c3.578,0,7.039-1.926,8.837-5.305
											C466.756,381.342,472,360.253,472,339.001C472,314.041,464.905,289.792,451.482,268.876z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g><g>
									<g>
										<path d="M357.673,209.002L357,209.001c-5.522,0-10,4.477-10,10c0,5.523,4.478,10,10,10l0.579,0.001c0.016,0,0.031,0,0.048,0
											c5.501,0,9.973-4.446,9.999-9.953C367.651,213.526,363.195,209.028,357.673,209.002z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g><g>
									<g>
										<path d="M294.407,438.202c-37.91-18.225-62.405-57.164-62.405-99.201c0-17.988,4.434-35.827,12.821-51.591
											c2.594-4.875,0.745-10.931-4.131-13.525c-4.874-2.594-10.932-0.745-13.525,4.131c-9.921,18.645-15.165,39.733-15.165,60.985
											c0,24.96,7.095,49.208,20.518,70.125c13.063,20.355,31.467,36.643,53.222,47.102c1.397,0.672,2.873,0.989,4.326,0.989
											c3.724,0,7.298-2.089,9.02-5.669C301.479,446.57,299.385,440.595,294.407,438.202z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g><g>
									<g>
										<path d="M327.002,449.001l-0.579-0.002c-5.548-0.01-10.02,4.429-10.045,9.953c-0.026,5.523,4.432,10.021,9.954,10.047l0.67,0.002
											c5.522,0,10-4.478,10-10C337.002,453.479,332.524,449.001,327.002,449.001z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g><g>
									<g>
										<path d="M387.409,175.168c-1.217-2.9-2.708-5.633-4.443-8.168H409c25.364,0,46-20.636,46-46s-20.636-46-46-46h-80.08
											c5.091-7.402,8.08-16.357,8.08-26c0-25.364-20.636-46-46-46H46C20.636,3,0,23.636,0,49s20.636,46,46,46h80.08
											c-5.091,7.402-8.08,16.357-8.08,26s2.988,18.598,8.08,26H100c-25.364,0-46,20.636-46,46c0,14.567,6.814,27.566,17.415,36
											C60.814,237.434,54,250.433,54,265s6.814,27.566,17.415,36C60.814,309.434,54,322.433,54,337c0,14.567,6.814,27.566,17.415,36
											C60.814,381.434,54,394.433,54,409c0,25.364,20.636,46,46,46h117.85c31.046,33.207,75.212,54.001,124.151,54.001
											c93.738,0,170-76.262,170-170C512.001,260.984,459.171,195.083,387.409,175.168z M409,95c14.337,0,26,11.664,26,26
											s-11.663,26-26,26h-64H164c-14.337,0-26-11.664-26-26s11.663-26,26-26H409z M46,75c-14.337,0-26-11.664-26-26s11.663-26,26-26h245
											c14.337,0,26,11.664,26,26s-11.663,26-26,26H46z M100,167h245c4.028,0,7.885,0.936,11.345,2.612
											c-4.73-0.397-9.512-0.611-14.344-0.611c-46.945,0-89.505,19.129-120.299,49.999H100c-14.336,0-26-11.664-26-26S85.664,167,100,167
											z M100,239h104.615c-11.352,15.553-20.129,33.095-25.703,52H100c-14.337,0-26-11.663-26-26C74,250.664,85.663,239,100,239z
											 M100,311h74.32c-1.517,9.113-2.319,18.464-2.319,28.001c0,8.146,0.589,16.156,1.702,23.999H100c-14.337,0-26-11.663-26-26
											C74,322.663,85.663,311,100,311z M100,435c-14.337,0-26-11.663-26-26c0-14.337,11.663-26,26-26h77.786
											c5.046,18.813,13.243,36.346,23.993,52H100z M342.001,489.001c-82.71,0-150-67.29-150-150s67.29-150,150-150s150,67.29,150,150
											S424.711,489.001,342.001,489.001z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
							</svg>
							<span>Продать - купить</span>
						</a>
						<a href="">
							<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 29.731 29.731"   style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 33px; height: 33px;">
								<g>
									<path d="M23.895,29.731c-1.237,0-2.731-0.31-4.374-0.93c-3.602-1.358-7.521-4.042-11.035-7.556
										c-3.515-3.515-6.199-7.435-7.558-11.037C-0.307,6.933-0.31,4.245,0.921,3.015c0.177-0.177,0.357-0.367,0.543-0.563
										c1.123-1.181,2.392-2.51,4.074-2.45C6.697,0.05,7.82,0.77,8.97,2.201c3.398,4.226,1.866,5.732,0.093,7.478l-0.313,0.31
										c-0.29,0.29-0.838,1.633,4.26,6.731c1.664,1.664,3.083,2.882,4.217,3.619c0.714,0.464,1.991,1.166,2.515,0.642l0.315-0.318
										c1.744-1.769,3.25-3.296,7.473,0.099c1.431,1.15,2.15,2.272,2.198,3.433c0.069,1.681-1.27,2.953-2.452,4.075
										c-0.195,0.186-0.385,0.366-0.562,0.542C26.103,29.424,25.126,29.731,23.895,29.731z M5.418,1C4.223,1,3.144,2.136,2.189,3.141
										C1.997,3.343,1.811,3.539,1.628,3.722C0.711,4.638,0.804,7.045,1.864,9.856c1.31,3.472,3.913,7.266,7.33,10.683
										c3.416,3.415,7.208,6.018,10.681,7.327c2.811,1.062,5.218,1.152,6.133,0.237c0.183-0.183,0.379-0.369,0.581-0.56
										c1.027-0.976,2.192-2.082,2.141-3.309c-0.035-0.843-0.649-1.75-1.825-2.695c-3.519-2.83-4.503-1.831-6.135-0.176l-0.32,0.323
										c-0.78,0.781-2.047,0.608-3.767-0.51c-1.193-0.776-2.667-2.038-4.379-3.751c-4.231-4.23-5.584-6.819-4.26-8.146l0.319-0.315
										c1.659-1.632,2.66-2.617-0.171-6.138C7.245,1.651,6.339,1.037,5.496,1.001C5.47,1,5.444,1,5.418,1z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
								</g>
							</svg>
							<span>Заказать звонок</span>
						</a>
						<a href="">
							<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 52 52" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 33px; height: 33px; ">
								<g>
									<path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
										S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
									<path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1
										s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
								</g>
							</svg>
							<span>Сделать заказ</span>
						</a>
						<a href="">
							<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 480 480"   style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 33px; height: 33px;">
								<g>
									<g>
										<path d="M421.648,74.336L349.664,2.352C348.216,0.896,346.216,0,344,0H96C73.944,0,56,17.944,56,40v400c0,22.056,17.944,40,40,40
											h288c22.056,0,40-17.944,40-40V80C424,77.784,423.104,75.784,421.648,74.336z M352,27.312L396.688,72H352V27.312z M408,440
											c0,13.232-10.768,24-24,24H96c-13.232,0-24-10.768-24-24V40c0-13.232,10.768-24,24-24h240v64c0,4.424,3.584,8,8,8h64V440z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
								<g>
									<g>
										<path d="M128,112c-17.648,0-32,14.352-32,32s14.352,32,32,32s32-14.352,32-32S145.648,112,128,112z M128,160
											c-8.824,0-16-7.176-16-16c0-8.824,7.176-16,16-16c8.824,0,16,7.176,16,16C144,152.824,136.824,160,128,160z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
								<g>
									<g>
										<path d="M128,200c-17.648,0-32,14.352-32,32s14.352,32,32,32s32-14.352,32-32S145.648,200,128,200z M128,248
											c-8.824,0-16-7.176-16-16c0-8.824,7.176-16,16-16c8.824,0,16,7.176,16,16C144,240.824,136.824,248,128,248z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
								<g>
									<g>
										<path d="M128,288c-17.648,0-32,14.352-32,32s14.352,32,32,32s32-14.352,32-32S145.648,288,128,288z M128,336
											c-8.824,0-16-7.176-16-16c0-8.824,7.176-16,16-16c8.824,0,16,7.176,16,16C144,328.824,136.824,336,128,336z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
								<g>
									<g>
										<path d="M128,376c-17.648,0-32,14.352-32,32s14.352,32,32,32s32-14.352,32-32S145.648,376,128,376z M128,424
											c-8.824,0-16-7.176-16-16c0-8.824,7.176-16,16-16c8.824,0,16,7.176,16,16C144,416.824,136.824,424,128,424z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
								<g>
									<g>
										<rect x="176" y="152" width="208" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<rect x="184" y="40" width="112" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<rect x="160" y="72" width="160" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<rect x="176" y="240" width="208" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<rect x="176" y="328" width="208" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<rect x="176" y="416" width="208" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<rect x="240" y="120" width="16" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<rect x="208" y="120" width="16" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<rect x="176" y="120" width="16" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
							</svg>
							<span>Список</span>
						</a>
						<a href="">
							<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 411.294 411.294"   style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 35px; height: 35px;">
								<g>
									<g>
										<path d="M237.656,313.414c-26.465-0.045-47.957,21.372-48.002,47.838c-0.02,11.877,4.371,23.339,12.322,32.162h-100.32v16h136
											c26.51,0,48-21.49,48-48C285.656,334.905,264.166,313.414,237.656,313.414z M237.656,393.414c-17.673,0-32-14.327-32-32
											c0-17.673,14.327-32,32-32c17.673,0,32,14.327,32,32C269.656,379.087,255.329,393.414,237.656,393.414z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
								<g>
									<g>
										<circle cx="237.656" cy="361.414" r="16" vector-effect="non-scaling-stroke"></circle>
									</g>
								</g>
								<g>
									<g>
										<rect x="260.806" y="245.428" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -77.9631 318.636)" width="169.681" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<path d="M43.312,155.758c-3.124-3.123-8.188-3.123-11.312,0l-32,32l11.312,11.312l26.344-26.344L184,319.07l11.312-11.312
											L43.312,155.758z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
								<g>
									<g>
										<path d="M380.448,163.758L267.312,50.614c-3.174-3.001-8.138-3.001-11.312,0L142.864,163.758c-1.5,1.5-2.344,3.534-2.344,5.656
											c0,2.122,0.844,4.156,2.344,5.656L256,288.198c3.124,3.123,8.188,3.123,11.312,0L380.448,175.07
											C383.571,171.946,383.571,166.882,380.448,163.758z M302.12,230.782l-29.152-29.136l20.688-20.688l29.136,29.136L302.12,230.782z
											 M334.104,198.782l-34.792-34.792c-3.124-3.123-8.188-3.123-11.312,0l-32,32c-3.123,3.124-3.123,8.188,0,11.312l34.792,34.792
											l-29.136,29.152L159.832,169.414L261.656,67.582L363.48,169.414L334.104,198.782z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
								<g>
									<g>
										<path d="M195.312,71.87l-67.88-67.88c-3.124-3.123-8.188-3.123-11.312,0L48.232,71.87c-3.123,3.124-3.123,8.188,0,11.312
											l67.888,67.888c3.124,3.123,8.188,3.123,11.312,0l67.88-67.888C198.435,80.058,198.435,74.994,195.312,71.87z M121.776,134.102
											L65.2,77.526l56.576-56.568l56.568,56.568L121.776,134.102z" vector-effect="non-scaling-stroke"></path>
									</g>
								</g>
								<g>
									<g>
										<rect x="69.656" y="393.646" width="16" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<rect x="53.656" y="377.646" width="16" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<rect x="213.369" y="141.666" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -35.0527 214.7078)" width="56.56" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
								<g>
									<g>
										<rect x="98.343" y="57.65" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -14.3044 96.7658)" width="22.624" height="16" vector-effect="non-scaling-stroke"></rect>
									</g>
								</g>
							</svg>
							<span>Грузоперевозки</span>
						</a>
					</div>
					<div class="col-md-3 order-form" v-if="more">
						<a class="close" @click="more = false">
							<svg version="1.2" viewBox="0 0 24 24" style="opacity: 1; mix-blend-mode: normal; fill: rgb(0, 0, 0); width: 20px; height: 20px;"><g><path xmlns:default="http://www.w3.org/2000/svg" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" style="fill: rgb(0, 0, 0);"></path></g></svg>
						</a>
						<div class="title">
							<h5>Заказ</h5>
							<hr>
						</div>
						<div class="form">
							<div class="input-group">
								<input type="text" class="form-control has-value" value="Володя" />
								<label>Имя</label>
								<span class="form-span">
									<svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 22px; height: 22px;">
										<path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951
										c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319
										c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056
										v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309
										c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043
										C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164
										l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22
										C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021
										C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298
										C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713
										c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776
										C49.513,45.874,51,48.28,51,50.957V54z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
									</svg>
								</span>
							</div>
							<div class="input-group">
								<input type="text" class="form-control has-value" value="ул. Мынбаева 28" />
								<label>Адресс</label>
								<span class="form-span">
									<svg version="1.2" viewBox="0 0 51.636 51.636" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
										<path d="M51.353,0.914c-0.295-0.305-0.75-0.39-1.135-0.213L0.583,23.481c-0.399,0.184-0.632,0.605-0.574,1.041
										s0.393,0.782,0.826,0.854l22.263,3.731l2.545,21.038c0.054,0.438,0.389,0.791,0.824,0.865c0.057,0.01,0.113,0.015,0.169,0.015
										c0.375,0,0.726-0.211,0.896-0.556l24-48.415C51.72,1.675,51.648,1.218,51.353,0.914z M27.226,46.582l-2.232-18.457
										c-0.054-0.44-0.391-0.793-0.828-0.866L4.374,23.941L48.485,3.697L27.226,46.582z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
									</svg>
								</span>
							</div>
							<div class="input-group">
								<input type="text" class="form-control has-value" value="12.12.18 в 16:00" />
								<label>Время Подачи</label>
								<span class="form-span">
									<svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
										<g>
											<path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
												S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											<path d="M30,6c-0.552,0-1,0.447-1,1v23H14c-0.552,0-1,0.447-1,1s0.448,1,1,1h16c0.552,0,1-0.447,1-1V7C31,6.447,30.552,6,30,6z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
										</g>
									</svg>
								</span>
							</div>
							<div class="input-group">
								<select class="form-control has-value">
							        <option value=""></option>
							        <option value="nds" selected>с НДС</option>
							        <option value="beznds">без НДС</option>
								</select>
								<label>Комиссия</label>
								<span class="form-span">
									<svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
										<g>
											<path d="M55.783,8H4.217C1.892,8,0,9.892,0,12.217v35.566C0,50.108,1.892,52,4.217,52h51.566C58.108,52,60,50.108,60,47.783V12.217
												C60,9.892,58.108,8,55.783,8z M58,47.783C58,49.005,57.006,50,55.783,50H4.217C2.994,50,2,49.005,2,47.783V12.217
												C2,10.995,2.994,10,4.217,10h51.566C57.006,10,58,10.995,58,12.217V47.783z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											<path d="M16,37H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S16.553,37,16,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											<path d="M29,37h-9c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S29.553,37,29,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											<path d="M8,42H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S8.553,42,8,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											<path d="M14,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S14.553,42,14,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											<path d="M19,42h-1c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S19.553,42,19,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											<path d="M25,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S25.553,42,25,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											<path d="M28.29,42.29C28.109,42.48,28,42.74,28,43c0,0.26,0.109,0.52,0.29,0.71C28.479,43.89,28.74,44,29,44s0.52-0.11,0.71-0.29
												C29.89,43.52,30,43.26,30,43c0-0.26-0.11-0.52-0.29-0.71C29.33,41.92,28.649,41.92,28.29,42.29z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											<path d="M48,33c-1.276,0-2.469,0.349-3.5,0.947C43.469,33.349,42.276,33,41,33c-3.859,0-7,3.14-7,7s3.141,7,7,7
												c1.276,0,2.469-0.349,3.5-0.947C45.531,46.651,46.724,47,48,47c3.859,0,7-3.14,7-7S51.859,33,48,33z M46,40
												c0,1.394-0.576,2.654-1.5,3.562C43.576,42.654,43,41.394,43,40s0.576-2.654,1.5-3.562C45.424,37.346,46,38.606,46,40z M36,40
												c0-2.757,2.243-5,5-5c0.631,0,1.23,0.13,1.787,0.345C41.68,36.583,41,38.212,41,40s0.68,3.417,1.787,4.655
												C42.23,44.87,41.631,45,41,45C38.243,45,36,42.757,36,40z M48,45c-0.631,0-1.23-0.13-1.787-0.345C47.32,43.417,48,41.788,48,40
												s-0.68-3.417-1.787-4.655C46.77,35.13,47.369,35,48,35c2.757,0,5,2.243,5,5S50.757,45,48,45z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											<path d="M8.255,30h6h1.49h6C22.988,30,24,28.988,24,27.745v-8v-1.49C24,17.012,22.988,16,21.745,16h-7.49h-6
												C7.012,16,6,17.012,6,18.255v9.49C6,28.988,7.012,30,8.255,30z M12,24H8v-2h4V24z M8,27.745V26h4v1.745
												c0,0.087,0.016,0.17,0.026,0.255H8.255C8.114,28,8,27.886,8,27.745z M22,24h-4v-1.745C18,22.114,18.114,22,18.255,22h3.49
												c0.087,0,0.17-0.016,0.255-0.026V24z M21.745,28h-3.771C17.984,27.915,18,27.832,18,27.745V26h4v1.745
												C22,27.886,21.886,28,21.745,28z M21.745,18C21.886,18,22,18.114,22,18.255v1.49C22,19.886,21.886,20,21.745,20h-3.49
												C17.012,20,16,21.012,16,22.255v5.49C16,27.886,15.886,28,15.745,28h-1.49C14.114,28,14,27.886,14,27.745v-9.49
												C14,18.114,14.114,18,14.255,18H21.745z M8.255,18h3.771C12.016,18.085,12,18.168,12,18.255V20H8v-1.745
												C8,18.114,8.114,18,8.255,18z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
										</g>
									</svg>
								</span>
							</div>
							<div class="input-group">
								<input type="text" class="form-control has-value" value="Вывезти мусор с обьекта" />
								<label>Комментарий</label>
							</div>
							<div class="input-group">
								<input type="text" class="form-control has-value" value="Час" />
								<label>1 расходный</label>
								<span class="form-span">
									<svg version="1.2" viewBox="0 0 512 512" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
										<g>
											<g>
												<g>
													<path d="M85.333,341.333c-11.76,0-21.333,9.573-21.333,21.333S73.573,384,85.333,384c11.76,0,21.333-9.573,21.333-21.333
														S97.094,341.333,85.333,341.333z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M192,64c-11.76,0-21.333,9.573-21.333,21.333c0,11.76,9.573,21.333,21.333,21.333s21.333-9.573,21.333-21.333
														C213.333,73.573,203.76,64,192,64z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M426.667,106.667c-47.052,0-85.333,38.281-85.333,85.333c0,31.796,36.642,88.85,59.561,121.451
														c-1.374,1.042-2.591,2.301-3.353,3.977c-2.313,5.073-0.313,11.01,4.448,13.698c-4.656,2.865-6.438,8.865-3.948,13.854
														c1.875,3.74,5.635,5.896,9.552,5.896c1.604,0,3.229-0.365,4.76-1.125l19.033-9.517l0.005-0.001l0.046-0.023
														c0.061-0.031,0.085-0.103,0.146-0.135c1.358-0.71,2.594-1.667,3.552-2.917C443,326.885,512,235.594,512,192
														C512,144.948,473.719,106.667,426.667,106.667z M426.667,312.813c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64
														s64,28.708,64,64C490.667,219.156,450.115,280.552,426.667,312.813z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M426.667,170.667c-11.76,0-21.333,9.573-21.333,21.333s9.573,21.333,21.333,21.333S448,203.76,448,192
														S438.427,170.667,426.667,170.667z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M111.383,483.719c22.936-32.664,59.284-89.383,59.284-121.052c0-47.052-38.281-85.333-85.333-85.333
														C38.281,277.333,0,315.615,0,362.667c0,43.594,69,134.885,76.865,145.156c0.568,0.741,1.384,1.172,2.107,1.73
														c0.435,0.335,0.758,0.75,1.234,1.013c1.565,0.871,3.286,1.434,5.128,1.434l0.005-0.001L85.344,512
														c0.245,0,0.48-0.155,0.725-0.172c1.398-0.102,2.78-0.336,4.01-0.947c0.008-0.004,0.017-0.003,0.025-0.007l19.083-9.542
														c5.271-2.635,7.406-9.042,4.771-14.313C113.307,485.716,112.419,484.613,111.383,483.719z M85.333,483.479
														c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64c35.292,0,64,28.708,64,64
														C149.333,389.823,108.781,451.219,85.333,483.479z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M369.135,347.5l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
														c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
														C380.813,347.01,374.396,344.896,369.135,347.5z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M167.021,448.563l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
														c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
														C178.688,448.063,172.281,445.958,167.021,448.563z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M301.76,381.188l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
														c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
														C313.427,380.688,307.031,378.563,301.76,381.188z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M234.385,414.875l-33.677,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
														c1.604,0,3.229-0.365,4.76-1.125l33.677-16.844c5.271-2.635,7.406-9.042,4.771-14.313
														C246.052,414.375,239.635,412.26,234.385,414.875z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M240.885,246.219c-2.438,5.365-0.073,11.688,5.292,14.125l39.156,17.802c1.438,0.656,2.938,0.958,4.406,0.958
														c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.156-17.802
														C249.615,238.458,243.302,240.875,240.885,246.219z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M368.073,314.708c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.167-17.802
														c-5.427-2.458-11.698-0.052-14.125,5.292c-2.438,5.365-0.073,11.688,5.292,14.125l39.167,17.802
														C365.104,314.406,366.604,314.708,368.073,314.708z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M211.406,243.49c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.063-11.688-5.292-14.125l-7.367-3.348
														c20.206-27.582,68.867-97.78,68.867-134.434C277.333,38.281,239.052,0,192,0s-85.333,38.281-85.333,85.333
														c0,43.594,69,134.885,76.865,145.156c0.092,0.121,0.246,0.167,0.344,0.283c0.708,0.854,1.612,1.516,2.59,2.128
														c0.345,0.215,0.607,0.53,0.974,0.704c0.056,0.026,0.089,0.078,0.145,0.104L207,242.531
														C208.438,243.188,209.938,243.49,211.406,243.49z M128,85.333c0-35.292,28.708-64,64-64s64,28.708,64,64
														c0,27.156-40.552,88.552-64,120.813C168.552,173.885,128,112.49,128,85.333z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												</g>
											</g>
										</g>
									</svg>
								</span>
							</div>
							<div class="input-group">
								<input type="text" class="form-control has-value" value="0" />
								<label>Цена</label>
								<span class="form-span">
									<svg version="1.2" viewBox="0 0 512 512" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
										<g>
											<g>
												<path d="M85.072,454.931c-1.859-1.861-4.439-2.93-7.069-2.93s-5.21,1.069-7.07,2.93c-1.86,1.861-2.93,4.44-2.93,7.07
													s1.069,5.21,2.93,7.069c1.86,1.86,4.44,2.931,7.07,2.931s5.21-1.07,7.069-2.931c1.86-1.859,2.931-4.439,2.931-7.069
													S86.933,456.791,85.072,454.931z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M469.524,182.938c-1.86-1.861-4.43-2.93-7.07-2.93c-2.63,0-5.21,1.069-7.07,2.93c-1.859,1.86-2.93,4.44-2.93,7.07
													s1.07,5.21,2.93,7.069c1.86,1.86,4.44,2.931,7.07,2.931c2.64,0,5.21-1.07,7.07-2.931c1.869-1.859,2.939-4.439,2.939-7.069
													S471.393,184.798,469.524,182.938z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M509.065,2.929C507.189,1.054,504.645,0,501.992,0L255.998,0.013c-5.522,0-9.999,4.478-9.999,10V38.61l-94.789,25.399
													c-5.335,1.43-8.501,6.913-7.071,12.247l49.127,183.342l-42.499,42.499c-5.409-7.898-14.491-13.092-24.764-13.092H30.006
													c-16.542,0-29.999,13.458-29.999,29.999v162.996C0.007,498.542,13.464,512,30.006,512h95.998c14.053,0,25.875-9.716,29.115-22.78
													l11.89,10.369c9.179,8.004,20.939,12.412,33.118,12.412h301.867c5.522,0,10-4.478,10-10V10
													C511.992,7.348,510.94,4.804,509.065,2.929z M136.002,482.001c0,5.513-4.486,10-10,10H30.005c-5.514,0-10-4.486-10-10V319.005
													c0-5.514,4.486-10,10-10h37.999V424.2c0,5.522,4.478,10,10,10s10-4.478,10-10V309.005h37.999c5.514,0,10,4.486,10,10V482.001z
													 M166.045,80.739l79.954-21.424V96.37l-6.702,1.796c-2.563,0.687-4.746,2.362-6.072,4.659s-1.686,5.026-0.999,7.588
													c3.843,14.341-4.698,29.134-19.039,32.977c-2.565,0.688-4.752,2.366-6.077,4.668c-1.325,2.301-1.682,5.035-0.989,7.599
													l38.979,144.338h-20.07l-10.343-40.464c-0.329-1.288-0.905-2.475-1.676-3.507L166.045,80.739z M245.999,142.229v84.381
													l-18.239-67.535C235.379,155.141,241.614,149.255,245.999,142.229z M389.663,492H200.125V492c-7.345,0-14.438-2.658-19.974-7.485
													l-24.149-21.061V325.147l43.658-43.658l7.918,30.98c1.132,4.427,5.119,7.523,9.688,7.523l196.604,0.012c7.72,0,14,6.28,14,14
													c0,7.72-6.28,14-14,14H313.13c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h132.04c7.72,0,14,6.28,14,14c0,7.72-6.28,14-14,14
													H313.13c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h110.643c7.72,0,14,6.28,14,14c0,7.72-6.28,14-14,14H313.13
													c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h76.533c7.72,0,14,6.28,14,14C403.662,485.72,397.382,492,389.663,492z
													 M491.994,492h-0.001h-71.359c1.939-4.273,3.028-9.01,3.028-14s-1.089-9.727-3.028-14h3.139c18.747,0,33.999-15.252,33.999-33.999
													c0-5.468-1.305-10.635-3.609-15.217c14.396-3.954,25.005-17.149,25.005-32.782c0-7.584-2.498-14.595-6.711-20.255V235.007
													c0-5.522-4.478-10-10-10c-5.522,0-10,4.478-10,10v113.792c-2.35-0.515-4.787-0.795-7.289-0.795h-0.328
													c1.939-4.273,3.028-9.01,3.028-14c0-18.748-15.252-33.999-33.999-33.999h-16.075c17.069-7.32,29.057-24.286,29.057-44.005
													c0-26.389-21.468-47.858-47.857-47.858c-26.388,0-47.857,21.469-47.857,47.858c0,19.719,11.989,36.685,29.057,44.005h-54.663
													V109.863c17.864-3.893,31.96-17.988,35.852-35.853h75.221c3.892,17.865,17.988,31.96,35.852,35.853v31.09c0,5.522,4.478,10,10,10
													s10-4.478,10-10v-40.018c0-5.522-4.478-10-10-10c-14.847,0-26.924-12.079-26.924-26.925c0-5.522-4.478-10-10-10h-93.076
													c-5.522,0-10,4.478-10,10c0,14.847-12.078,26.925-26.924,26.925c-5.522,0-10,4.478-10,10v199.069H266V20.011L491.994,20V492z
													 M378.996,283.858c-15.361,0-27.857-12.497-27.857-27.857s12.497-27.858,27.857-27.858S406.853,240.64,406.853,256
													S394.357,283.858,378.996,283.858z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											</g>
										</g>
									</svg>
								</span>
							</div>
						</div>
						<div class="input-box">
							<button class="dbutton" @click="second = false,third = false,fourth = false">Отменить</button>
							<button class="dbutton" @click="third = true">Принять</button>
						</div>
					</div>
					<div class="col-md-3" v-bind:class="{big: big}">
						<span v-on:click="big = !big" class="title">Ваши <p>Заказы</p></span>
						<span class="dropdown" v-on:click="big = !big" v-if="!big"></span>
						<strong v-on:click="big = !big">20</strong>
						<span class="bighr" v-if="big" v-on:click="big = !big"></span>
						<div class="orders" v-if="big">
							<div class="div-order" @click="more = !more">
								<div class="order-img" style="background: url(https://uc.uxpin.com/files/845614/838895/maxresdefault-6d3720.jpg)">
								</div>
								<div class="order-info">
									<h6>Cтрела</h6>
									<span>Статус: Ожидает</span>
									<span>Цена: __тг. за __</span>
								</div>
							</div>
							<div class="div-order" @click="more = !more">
								<div class="order-img" style="background: url(https://uc.uxpin.com/files/845614/838895/maxresdefault-6d3720.jpg)">
								</div>
								<div class="order-info">
									<h6>Cтрела</h6>
									<span>Статус: Ожидает</span>
									<span>Цена: __тг. за __</span>
								</div>
							</div>
							<div class="div-order" @click="more = !more">
								<div class="order-img" style="background: url(https://uc.uxpin.com/files/845614/838895/maxresdefault-6d3720.jpg)">
								</div>
								<div class="order-info">
									<h6>Cтрела</h6>
									<span>Статус: Ожидает</span>
									<span>Цена: __тг. за __</span>
								</div>
							</div>
							<div class="div-order" @click="more = !more">
								<div class="order-img" style="background: url(https://uc.uxpin.com/files/845614/838895/maxresdefault-6d3720.jpg)">
								</div>
								<div class="order-info">
									<h6>Cтрела</h6>
									<span>Статус: Ожидает</span>
									<span>Цена: __тг. за __</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="profile" v-bind:class="{opacity: profile}">
					<div class="info">
						<div class="avatar" style="background: url();">
							
						</div>
						<div class="fio">
							<h6>Баратов Азиз</h6>
							<span v-if="order">Заказчик</span>
							<span v-if="driver">Водитель</span>
						</div>
					</div>
					<hr>
					<div class="actions">
						<ul>
							<a href="">
								<span>
									<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 60 60"   style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 27px; height: 27px; ">
										<path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951
										c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319
										c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056
										v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309
										c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043
										C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164
										l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22
										C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021
										C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298
										C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713
										c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776
										C49.513,45.874,51,48.28,51,50.957V54z" vector-effect="non-scaling-stroke"></path>
									</svg>
								</span>								
								<li>Мой Профиль</li>
							</a>
							<a href="">
								<span>
									<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 60 60"   style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 27px; height: 27px;">
										<path d="M57.49,21.5H55v-7h-2v-4H25.086l-3.571-5H2.732C1.226,5.5,0,6.726,0,8.232v43.687l0.006,0
										c-0.005,0.563,0.17,1.114,0.522,1.575C1.018,54.134,1.76,54.5,2.565,54.5h44.759c1.156,0,2.174-0.779,2.45-1.813L60,24.649v-0.177
										C60,22.75,58.944,21.5,57.49,21.5z M53,21.5h-8v-1c0-0.553-0.448-1-1-1s-1,0.447-1,1v1h-5v-1c0-0.553-0.448-1-1-1s-1,0.447-1,1v1h-5
										v-1c0-0.553-0.448-1-1-1s-1,0.447-1,1v1h-5v-1c0-0.553-0.448-1-1-1s-1,0.447-1,1v1h-5v-1c0-0.553-0.448-1-1-1s-1,0.447-1,1v1h-2.269
										c-0.143,0-0.284,0.012-0.422,0.035c-0.499,0.083-0.95,0.315-1.309,0.639V16.5h42V21.5z M5,37.793V22.5h5.695
										c-0.188,0.243-0.335,0.516-0.414,0.813l-0.317,0.87L5,37.793z M9,20.5H6.414L7,19.914l2-2V20.5z M51,12.5v2H9.586L7,17.086V12.5
										h19.515H51z M2,8.232C2,7.828,2.329,7.5,2.732,7.5h17.753l2.143,3H5v8.586l-2,2v22.085l-1,2.728V8.232z M47.869,52.083
										c-0.066,0.245-0.291,0.417-0.545,0.417H2.565c-0.243,0-0.385-0.139-0.448-0.222c-0.063-0.082-0.16-0.256-0.123-0.408L3,49.112v0.001
										l9.16-25.114l0.026-0.082c0.066-0.245,0.291-0.417,0.545-0.417H55h2.49c0.38,0,0.477,0.546,0.502,0.819L47.869,52.083z" vector-effect="non-scaling-stroke"></path>
									</svg>
								</span>
								<li>История заказов</li>
							</a>
							<a href="">
								<span>
									<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 511.989 511.989"   style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 27px; height: 27px;">
										<g>
											<g>
												<g>
													<path d="M110.933,221.782c-4.71,0-8.533,3.823-8.533,8.533v51.2c0,4.71,3.823,8.533,8.533,8.533s8.533-3.823,8.533-8.533v-51.2
														C119.467,225.605,115.644,221.782,110.933,221.782z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
													<path d="M111.855,2.304L31.172,34.586C8.448,43,0,54.418,0,76.715v358.477c0,22.298,8.448,33.715,30.959,42.061l81.058,32.427
														c4.011,1.519,8.038,2.287,11.981,2.287c17.152,0,29.602-14.336,29.602-34.091V34.049C153.6,9.78,134.246-6.126,111.855,2.304z
														 M136.533,477.876c0,10.18-5.035,17.024-12.535,17.024c-1.869,0-3.883-0.401-5.803-1.118L37.103,461.33
														c-16.102-5.965-20.036-11.102-20.036-26.138V76.715c0-15.036,3.934-20.164,20.241-26.206l80.725-32.29
														c2.082-0.785,4.087-1.186,5.956-1.186c7.501,0,12.544,6.835,12.544,17.016V477.876z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
													<path d="M178.133,51.115h120.533c14.114,0,25.6,11.486,25.6,25.6v128c0,4.71,3.814,8.533,8.533,8.533
														c4.719,0,8.533-3.823,8.533-8.533v-128c0-23.526-19.14-42.667-42.667-42.667H178.133c-4.71,0-8.533,3.823-8.533,8.533
														S173.423,51.115,178.133,51.115z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
													<path d="M332.8,298.582c-4.719,0-8.533,3.823-8.533,8.533v128c0,14.114-11.486,25.6-25.6,25.6H179.2
														c-4.71,0-8.533,3.823-8.533,8.533s3.823,8.533,8.533,8.533h119.467c23.526,0,42.667-19.14,42.667-42.667v-128
														C341.333,302.405,337.519,298.582,332.8,298.582z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
													<path d="M511.343,252.655c-0.435-1.05-1.058-1.988-1.852-2.782l-85.325-85.333c-3.337-3.336-8.73-3.336-12.066,0
														c-3.337,3.337-3.337,8.73,0,12.066l70.767,70.775H196.267c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533
														h286.601L412.1,335.215c-3.337,3.337-3.337,8.73,0,12.066c1.664,1.664,3.849,2.5,6.033,2.5c2.185,0,4.369-0.836,6.033-2.5
														l85.325-85.325c0.794-0.794,1.417-1.732,1.852-2.782C512.205,257.093,512.205,254.738,511.343,252.655z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
												</g>
											</g>
										</g>
									</svg>
								</span>
								<li>Сменить Профиль</li>
							</a>
						</ul>
					</div>
					<div class="mode">
						<h6>Режим</h6>
						<div class="buttons">
							<button  v-bind:class="{active: order}" v-on:click="order = !order, driver = !driver" class="order" >Заказчик</button>
							<button v-bind:class="{active: driver}" v-on:click="driver = !driver, order = !order" class="driver">Водитель</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</template>
<script>
/* eslint-disable */
export default{
  	name: 'Header',
		data () {
		    return {
		        order: true,
		        driver: false,
		        profile: false,
		        big: false,
		        more: false,
		        dropdowncity: false,
		        dropdownprofile: false
		    }
		}
  	}
</script>