<template>
	<section id="map" class="map">
	</section>
</template>
<script>
	/* eslint-disable */

	import VueSocketio from 'vue-socket.io'
	import GoogleMapsLoader from 'google-maps'
	export default {
		data(){
			return {				
      			currentLocation: { lat : 0, lng : 0},
      			map:null,
      			infoWindow: {},
      			markers: [
      				
      			]
			}
		},
		methods: {
	    },
		mounted(){
				console.log(this.markers)
			function addMarker(location, map){
		        var marker = new google.maps.Marker({
			        position: location,
			        icon: {
			            url: 'https://image.ibb.co/b647ZU/resize-Api.png',
			            scaledSize: { width: 32, height: 32},
			            anchor: { x: 16, y: 16 },
			          },
			        map: map
		        });
		    }
	        function handleLocationError(browserHasGeolocation, infoWindow, pos){
			    infoWindow.setPosition(pos);
			    infoWindow.setContent(browserHasGeolocation ?
			        'Error: The Geolocation service failed.' :
			        'Error: Your browser doesn\'t support geolocation.');
			    infoWindow.open(map);
	        }
			var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
			var labelIndex = 0;
			GoogleMapsLoader.LANGUAGE = 'ru';
			GoogleMapsLoader.REGION = 'KZ';
			GoogleMapsLoader.KEY = 'AIzaSyCCezqXG8vCpEP2KlLfAGZLz_LFPURk_RQ';
			GoogleMapsLoader.load(function(google) {
				let infoWindow = new google.maps.InfoWindow({
					content: 'af'
				});
				let map = new google.maps.Map(document.getElementById('map'), {
	            	center: {
	            		lat: 43.2441631, 
	            		lng: 76.919435
	            	},
			        zoom: 13,
			        panControl: false,
			        zoomControl: true,
			  		fullscreenControl: false,
			        zoomControlOptions: {
			            position: google.maps.ControlPosition.RIGHT_CENTER,
			            style: google.maps.ZoomControlStyle.LARGE
			        },
			        mapTypeControl: false,
			        scaleControl: false,
			        overviewMapControl: false
			    })
			    if ((localStorage.User_Cear!=null)) {
			    	var User = JSON.parse(localStorage.User_Cear)
			        var pos = {
	                    lat: User.lat,
	                    lng: User.lng
	                };
			        map.setCenter(pos);
			        map.zoom = 18;
			        addMarker(pos, map)
			    }else{
			        if (navigator.geolocation) {
			            navigator.geolocation.getCurrentPosition(function(position) {
			                var pos = {
			                    lat: position.coords.latitude,
			                    lng: position.coords.longitude
			                };
			                localStorage.setItem('User_Cear', JSON.stringify(pos))
			                map.setCenter(pos);
			                map.zoom = 18;
			                addMarker(pos, map)
			            }, function() {
			                handleLocationError(true, infoWindow, map.getCenter());
			            });
			        } else {
			            handleLocationError(false, infoWindow, map.getCenter());
			        }
			    }
			})
		}
	}
</script>