<template>
	<div id="app">
		<my-header></my-header>
		<my-map></my-map>
		<section class="content" id="technika">
			<div class="container-fluid">
				<div class="container">
					<div class="row">
						<div class="col-md-4 cats">
							<div class="title">
								<h4>Алматы</h4>
								<span>
									<b>+7</b>
									<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 407.2 407.2" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 36px; height: 36px;">
										<g>
											<g>
												<path d="M267.6,10.2c-5.6,0-10.4,4.8-10.4,10.4V49c0,5.6,4.8,10.4,10.4,10.4c5.6,0,10.4-4.8,10.4-10.4V20.6
													C278,15,273.2,10.2,267.6,10.2z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M366,51c-4-4-10.4-4-14.4,0l-20,20c-4,4-4,10.4,0,14.4s10.4,4,14.4,0l20-20C370,61.4,370,55,366,51z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M203.2,71l-20-20c-4-4-10.4-4-14.4,0s-4,10.4,0,14.4l20,20c4,4,10.4,4,14.4,0S207.2,75,203.2,71z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M275.2,322.6c-8-8-18.8-12.8-30.8-12.8c-0.4,0-0.8,0-0.8,0H131.2c-5.6,0-10.4,4.4-10.4,10.4c0,5.6,4.4,10.4,10.4,10.4
													h112.4c0.4,0,0.4,0,0.8,0c6.4,0,12,2.4,16,6.8c4,4,6.8,10,6.8,16c0,6.4-2.4,12-6.8,16c-4,4-10,6.8-16,6.8c-6.4,0-12-2.4-16-6.8
													c-4-4-6.8-10-6.8-16c0-5.6-4.8-10.4-10.4-10.4c-5.6,0-10.4,4.8-10.4,10.4c0,12,4.8,22.8,12.8,30.8s18.8,12.8,30.8,12.8
													s22.8-4.8,30.8-12.8s12.8-18.8,12.8-30.8S283.2,330.6,275.2,322.6z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M365.6,233.4L346,213.8c-4-4-10.4-4-14.4,0c-1.6,1.6-2.4,3.2-2.8,5.2c-0.4-9.2-2.8-17.6-6-25.6c4-5.2,7.6-11.2,10-17.2
													c3.6-8.4,5.2-17.6,5.2-26.8c0-19.6-8-37.2-20.8-49.6c-12.8-12.4-30.4-20.4-49.6-20.4c-13.2,0-25.6,3.6-36.4,10
													c-7.6,4.8-14.4,10.8-20,18c-16-10.8-35.2-17.2-55.6-17.2c-24.4,0-46.8,8.8-64,23.6C76.4,127,65.2,144.6,60,165.4
													c-15.6,2-29.6,9.2-40,19.6C7.6,197.4,0,214.6,0,233.4s7.6,36,20,48.4c12.4,12.4,29.6,20,48.4,20h182c21.6,0,40.8-8.8,55.2-22.8
													c14-14,22.8-33.6,22.8-55.2v-0.4c0.4,1.6,1.2,3.2,2.8,4.4l20,20c4,4,10.4,4,14.4,0S369.6,237.4,365.6,233.4z M291.6,264.6
													c-10.4,10.4-24.8,16.8-40.4,16.8H68.8c-13.2,0-25.2-5.2-34-14s-14-20.8-14-34s5.2-25.2,14-34s20.8-14,34-14c1.6,0,3.6-0.4,4.8-1.2
													c2.4-1.6,4-4,4.4-6.8c2.8-18.8,12.4-35.6,26-47.2c13.6-11.6,31.6-18.8,50.8-18.8c16.4,0,31.6,5.2,44.4,14
													c9.6,6.8,18,15.6,23.6,26.4c-1.6,0.8-3.2,1.2-4.8,2c-10,4.4-18.8,11.2-26.4,19.2c-3.6,4.4-3.2,10.8,0.8,14.4
													c4.4,3.6,10.8,3.2,14.4-0.8c5.6-6,12-10.8,19.2-14.4c7.2-3.2,15.2-5.2,23.6-5.2c16,0,30,6.4,40.4,16.8
													c10.4,10.4,16.8,24.8,16.8,40.4C308,240.2,301.6,254.2,291.6,264.6z M313.6,168.6c-0.8,2-1.6,4-2.8,5.6c-1.6-2-3.2-3.6-4.8-5.2
													c-14-14-33.6-22.8-55.2-22.8c-2,0-4.4,0-6.4,0.4C240,137,234,128.2,226.8,121c4-5.6,9.2-10,14.8-13.6c7.6-4.8,16.4-7.2,25.6-7.2
													c13.6,0,26.4,5.6,35.2,14.4c9.2,9.2,14.4,21.6,14.4,35.2C317.2,156.6,316,163,313.6,168.6z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M396.8,139.4h-28.4c-5.6,0-10.4,4.8-10.4,10.4c0,5.6,4.8,10.4,10.4,10.4h28.4c5.6,0,10.4-4.8,10.4-10.4
													C406.8,144.2,402.4,139.4,396.8,139.4z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
									</svg>
								</span>
							</div>
							<div class="vehicles">
								<div class="row-vehicle">
									<a @click="toggle(0)">
										<span>
											<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 511.999 511.999" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 40px; height: 40px;">
												<g>
													<g>
														<path d="M95.758,344.692h-0.081c-4.142,0-7.459,3.358-7.459,7.5c0,4.142,3.398,7.5,7.54,7.5c4.142,0,7.5-3.358,7.5-7.5
															C103.258,348.05,99.9,344.692,95.758,344.692z" vector-effect="non-scaling-stroke"></path>
													</g>
												</g>
												<g>
													<g>
														<path d="M159.887,344.692h-0.08c-4.142,0-7.46,3.358-7.46,7.5c0,4.142,3.398,7.5,7.54,7.5c4.142,0,7.5-3.358,7.5-7.5
															C167.387,348.05,164.029,344.692,159.887,344.692z" vector-effect="non-scaling-stroke"></path>
													</g>
												</g>
												<g>
													<g>
														<path d="M424.419,344.692h-0.08c-4.142,0-7.46,3.358-7.46,7.5c0,4.142,3.398,7.5,7.54,7.5c4.142,0,7.5-3.358,7.5-7.5
															C431.919,348.05,428.561,344.692,424.419,344.692z" vector-effect="non-scaling-stroke"></path>
													</g>
												</g>
												<g>
													<g>
														<path d="M505.107,254.016l-10.084-10.084l-20.315-60.946c3.031-0.963,5.228-3.798,5.228-7.147c0-4.142-3.358-7.5-7.5-7.5h-72.661
															v-32.578c0-8.556-6.96-15.516-15.516-15.516H15.516C6.96,120.245,0,127.206,0,135.761v176.354c0,8.556,6.96,15.516,15.516,15.516
															h8.532v16.544c0,8.556,6.96,15.516,15.516,15.516h17.271c3.516,18.24,19.591,32.064,38.842,32.064
															c13.182,0,24.871-6.486,32.064-16.428c7.194,9.942,18.883,16.428,32.065,16.428c19.251,0,35.327-13.824,38.842-32.064h186.848
															c3.516,18.24,19.591,32.064,38.842,32.064c21.816,0,39.564-17.749,39.564-39.564c0-0.172-0.011-0.341-0.013-0.512h32.594
															c8.556,0,15.516-6.96,15.516-15.516v-65.508C512,264.37,509.552,258.461,505.107,254.016z M56.835,344.692H39.564
															c-0.285,0-0.516-0.231-0.516-0.516v-16.544h25.645C60.813,332.518,58.06,338.334,56.835,344.692z M95.677,376.757
															c-13.545,0-24.564-11.02-24.564-24.564c0-13.493,10.937-24.477,24.411-24.561h0.308c13.474,0.083,24.411,11.067,24.411,24.561
															C120.242,365.737,109.222,376.757,95.677,376.757z M159.807,376.757c-13.545,0-24.565-11.02-24.565-24.564
															c0-13.493,10.937-24.477,24.411-24.561h0.308c13.474,0.083,24.411,11.067,24.411,24.561
															C184.371,365.737,173.352,376.757,159.807,376.757z M385.497,344.692H198.649c-1.225-6.358-3.978-12.175-7.859-17.061h145.371
															c4.142,0,7.5-3.358,7.5-7.5c0-4.142-3.358-7.5-7.5-7.5H15.516c-0.285,0-0.516-0.231-0.516-0.516V135.761
															c0-0.285,0.231-0.516,0.516-0.516h368.742c0.285,0,0.516,0.231,0.516,0.516v176.871h-16.545c-4.142,0-7.5,3.358-7.5,7.5
															c0,4.142,3.358,7.5,7.5,7.5h25.126C389.474,332.518,386.722,338.334,385.497,344.692z M480.734,248.499h-48.379
															c-0.285,0-0.516-0.231-0.516-0.516v-32.581h37.863L480.734,248.499z M424.339,376.757c-13.545,0-24.564-11.02-24.564-24.564
															c0-13.493,10.937-24.477,24.411-24.561h0.154c0.017,0,0.034-0.002,0.052-0.003c13.521,0.028,24.513,11.036,24.513,24.563
															C448.903,365.737,437.884,376.757,424.339,376.757z M497,336.165c0,0.285-0.231,0.516-0.516,0.516h-35.752
															c-6.045-14.127-20.08-24.052-36.393-24.052c-0.052,0-0.102,0.004-0.154,0.004h-24.41V183.858v-0.004
															c0-0.285,0.231-0.516,0.516-0.516h58.723l5.688,17.064h-40.363c-4.142,0-7.5,3.358-7.5,7.5v40.081
															c0,8.556,6.96,15.516,15.516,15.516h61.022l1.124,1.124c1.611,1.612,2.499,3.754,2.499,6.033v17.928h-8.532
															c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5H497V336.165z" vector-effect="non-scaling-stroke"></path>
													</g>
												</g>
												<g>
													<g>
														<path d="M360.209,280.567H39.564c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h320.645c4.142,0,7.5-3.358,7.5-7.5
															C367.709,283.925,364.351,280.567,360.209,280.567z" vector-effect="non-scaling-stroke"></path>
													</g>
												</g>
											</svg>
										</span>
										Грузовые
									</a>
									<a @click="toggle(1)">
										<span>
											<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 511.999 511.999" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 40px; height: 40px;">
												<g>
													<g>
														<path d="M103.774,356.715h-0.081c-4.142,0-7.46,3.358-7.46,7.5c0,4.142,3.398,7.5,7.541,7.5s7.5-3.358,7.5-7.5
															C111.274,360.072,107.916,356.715,103.774,356.715z" vector-effect="non-scaling-stroke"></path>
													</g>
												</g>
												<g>
													<g>
														<path d="M167.903,356.715h-0.08c-4.142,0-7.46,3.358-7.46,7.5c0,4.142,3.398,7.5,7.54,7.5c4.142,0,7.5-3.358,7.5-7.5
															C175.403,360.072,172.045,356.715,167.903,356.715z" vector-effect="non-scaling-stroke"></path>
													</g>
												</g>
												<g>
													<g>
														<path d="M424.419,356.715h-0.08c-4.142,0-7.46,3.358-7.46,7.5c0,4.142,3.398,7.5,7.54,7.5c4.142,0,7.5-3.358,7.5-7.5
															C431.919,360.072,428.561,356.715,424.419,356.715z" vector-effect="non-scaling-stroke"></path>
													</g>
												</g>
												<g>
													<g>
														<path d="M505.107,266.038l-10.084-10.085l-20.315-60.946c3.031-0.963,5.228-3.798,5.228-7.147c0-4.142-3.358-7.5-7.5-7.5h-72.145
															c-8.556,0-15.516,6.96-15.516,15.516v80.678h-37.869c12.969-15.287,20.804-35.059,20.804-56.629
															c0-48.336-39.325-87.661-87.661-87.661h-64.645v-8.528c0-8.556-6.96-15.516-15.516-15.516h-32.064
															c-8.556,0-15.516,6.96-15.516,15.516v8.528H87.661C39.325,132.262,0,171.587,0,219.923c0,45.81,35.323,83.52,80.161,87.337v17.389
															H23.532c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h8.532v16.549c0,8.556,6.96,15.516,15.516,15.516h17.271
															c3.516,18.24,19.591,32.064,38.842,32.064c13.182,0,24.871-6.486,32.065-16.428c7.194,9.942,18.883,16.428,32.064,16.428
															c19.251,0,35.327-13.824,38.842-32.064h178.832c3.516,18.24,19.591,32.064,38.842,32.064c21.816,0,39.564-17.749,39.564-39.564
															c0-0.172-0.011-0.341-0.013-0.512h32.594c8.556,0,15.516-6.96,15.516-15.516v-65.508C512,276.392,509.552,270.481,505.107,266.038
															z M64.85,356.715H47.581c-0.285,0-0.517-0.232-0.517-0.516V339.65h25.648C68.829,344.538,66.076,350.355,64.85,356.715z
															 M384.774,291.552v33.097h-97.226V307.26c15.908-1.354,30.618-6.972,42.978-15.708H384.774z M167.306,123.735L167.306,123.735
															c0.001-0.285,0.232-0.516,0.517-0.516h32.064c0.285,0,0.516,0.231,0.516,0.516v8.528h-33.097V123.735z M15,219.923
															c0-37.533,28.606-68.509,65.161-72.275v16.164c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-16.55h177.387v16.55
															c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-16.164c36.555,3.766,65.161,34.742,65.161,72.275
															c0,37.534-28.606,68.51-65.161,72.275V195.87c0-4.142-3.358-7.5-7.5-7.5c-4.142,0-7.5,3.358-7.5,7.5v96.714H95.161V195.87
															c0-4.142-3.358-7.5-7.5-7.5c-4.142,0-7.5,3.358-7.5,7.5v96.328C43.606,288.434,15,257.457,15,219.923z M103.693,388.778
															c-13.545,0-24.564-11.02-24.564-24.564s11.02-24.564,24.564-24.564s24.565,11.02,24.565,24.564S117.238,388.778,103.693,388.778z
															 M167.823,388.778c-13.545,0-24.564-11.02-24.564-24.564s11.02-24.564,24.564-24.564s24.564,11.02,24.564,24.564
															S181.368,388.778,167.823,388.778z M95.161,324.65v-17.064h177.387v17.064H95.161z M385.497,356.715H206.665
															c-1.226-6.359-3.979-12.178-7.862-17.064h194.555C389.475,344.536,386.722,350.354,385.497,356.715z M480.734,260.52h-48.379
															c-0.285,0-0.516-0.231-0.516-0.516v-32.581h37.863L480.734,260.52z M424.339,388.778c-13.545,0-24.564-11.02-24.564-24.564
															s11.02-24.564,24.564-24.564s24.564,11.02,24.564,24.564S437.884,388.778,424.339,388.778z M497.001,300.606h-8.532
															c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5H497v32.581c0,0.283-0.231,0.515-0.516,0.515h-35.752
															c-6.045-14.127-20.08-24.052-36.393-24.052h-24.564V195.876c0-0.285,0.231-0.516,0.516-0.516h58.723l5.688,17.064h-40.363
															c-4.142,0-7.5,3.358-7.5,7.5v40.081c0,8.556,6.96,15.516,15.516,15.516h61.022l1.125,1.125c1.611,1.611,2.499,3.753,2.499,6.033
															V300.606z" vector-effect="non-scaling-stroke"></path>
													</g>
												</g>
											</svg>
										</span>
										Коммунальные
									</a>
									<a @click="toggle(2)">
										<span>
											<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 511 511" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 40px; height: 40px;">
												<g>
													<path d="M203.026,304.457c-1.662-3.795-6.086-5.523-9.879-3.86c-3.794,1.662-5.522,6.085-3.86,9.879
														c1.8,4.109,2.713,8.492,2.713,13.025c0,17.92-14.58,32.5-32.5,32.5S127,341.42,127,323.5s14.58-32.5,32.5-32.5
														c4.523,0,8.897,0.909,13,2.702c3.796,1.659,8.217-0.073,9.876-3.869c1.659-3.795-0.074-8.217-3.869-9.876
														C172.498,277.332,166.104,276,159.5,276c-26.191,0-47.5,21.309-47.5,47.5s21.309,47.5,47.5,47.5s47.5-21.309,47.5-47.5
														C207,316.882,205.663,310.475,203.026,304.457z" vector-effect="non-scaling-stroke"></path>
													<path d="M487.5,308h-4.455c-9.896-28.535-36.882-48-67.545-48c-21.135,0-40.514,9.252-53.763,24.34
														c-0.707-0.221-1.458-0.34-2.237-0.34H343v-66.637c0-10.276-2.156-20.23-6.409-29.587l-29.794-65.547
														c2.487-1.221,4.203-3.771,4.203-6.729c0-4.142-3.358-7.5-7.5-7.5h-96c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h0.5v137.573
														c-3.013-2.327-6.195-4.442-9.527-6.324c0.336-0.852,0.527-1.777,0.527-2.748v-48c0-4.142-3.358-7.5-7.5-7.5H159v-38.559
														c0-8.414-3.276-16.324-9.226-22.273l-8.971-8.971c-2.929-2.929-7.678-2.929-10.606,0c-2.929,2.929-2.929,7.678,0,10.606
														l8.971,8.971c3.116,3.116,4.833,7.26,4.833,11.667V196h-39.637c-7.157,0-14.185,1.946-20.323,5.629l-56.863,34.118
														C15.348,242.844,8,255.823,8,269.618V292H7.5c-4.142,0-7.5,3.358-7.5,7.5v17.373c0,6.277,2.444,12.179,6.883,16.617l14.627,14.627
														c4.438,4.439,10.34,6.883,16.617,6.883h48.395c12.224,28.21,40.328,48,72.978,48c38.533,0,70.74-27.56,77.972-64h83.763
														c3.138,9.29,11.93,16,22.266,16h4.455c9.896,28.534,36.885,48,67.545,48c30.667,0,57.651-19.464,67.546-48h4.454
														c12.958,0,23.5-10.542,23.5-23.5S500.458,308,487.5,308z M415.5,275c22.424,0,42.355,13.171,51.401,33H364.099
														C373.145,288.17,393.074,275,415.5,275z M328,217.363v0.318l-54.947-14.985C262.424,199.796,255,190.077,255,179.059V123h35.671
														l32.265,70.983C326.296,201.376,328,209.242,328,217.363z M240,123v56.059c0,17.764,11.969,33.435,29.107,38.108L328,233.229V284
														h-96.5c-0.971,0-1.896,0.191-2.748,0.527c-1.733-3.067-3.652-6.015-5.763-8.813c0.002-0.072,0.011-0.142,0.011-0.214V123H240z
														 M23,269.618c0-8.557,4.558-16.606,11.895-21.009l56.863-34.118c3.807-2.284,8.166-3.491,12.605-3.491H144v16.5
														c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V211h25v36.88c-7.722-2.508-15.952-3.88-24.5-3.88c-12.445,0-24.227,2.88-34.725,8
														H55.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h48.138c-7.195,7.114-13.037,15.588-17.116,25H23V269.618z M38.127,340
														c-2.271,0-4.405-0.884-6.011-2.49L17.49,322.883c-1.605-1.605-2.49-3.74-2.49-6.011V307h0.5h66.233
														C80.604,312.326,80,317.843,80,323.5s0.604,11.174,1.733,16.5H38.127z M159.5,388c-35.565,0-64.5-28.935-64.5-64.5
														s28.935-64.5,64.5-64.5s64.5,28.935,64.5,64.5S195.065,388,159.5,388z M235.12,299h116.673c-1.469,2.884-2.758,5.886-3.838,9H343.5
														c-10.336,0-19.128,6.71-22.266,16h-82.247c0.001-0.167,0.013-0.332,0.013-0.5C239,314.952,237.628,306.722,235.12,299z M415.5,388
														c-22.422,0-42.355-13.172-51.401-33h102.802C457.855,374.83,437.926,388,415.5,388z M487.5,340h-144c-4.687,0-8.5-3.813-8.5-8.5
														s3.813-8.5,8.5-8.5h9.999c0.008,0,0.016,0.001,0.023,0.001c0.006,0,0.012-0.001,0.018-0.001H487.5c4.687,0,8.5,3.813,8.5,8.5
														S492.187,340,487.5,340z" vector-effect="non-scaling-stroke"></path>
													<path d="M247.5,267h56c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-56c-4.142,0-7.5,3.358-7.5,7.5S243.358,267,247.5,267z" vector-effect="non-scaling-stroke"></path>
												</g>
											</svg>
										</span>
										Дорожные
									</a>
									<a @click="toggle(3)">
										<span>
											<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 511 511" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 40px; height: 40px;">
												<g>
													<path d="M127,291.5c0-4.142-3.358-7.5-7.5-7.5h-88c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h88
														C123.642,299,127,295.642,127,291.5z" vector-effect="non-scaling-stroke"></path>
													<path d="M47.5,380c-1.98,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3c0,1.97,0.8,3.91,2.2,5.3c1.39,1.4,3.32,2.2,5.3,2.2
														c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3c0-1.97-0.8-3.91-2.2-5.3C51.41,380.8,49.47,380,47.5,380z" vector-effect="non-scaling-stroke"></path>
													<path d="M263.5,395c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3c0-1.97-0.8-3.91-2.2-5.3c-1.39-1.4-3.32-2.2-5.3-2.2
														s-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3c0,1.97,0.8,3.91,2.2,5.3C259.59,394.2,261.53,395,263.5,395z" vector-effect="non-scaling-stroke"></path>
													<path d="M72,387.5c0,4.142,3.358,7.5,7.5,7.5h152c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-152
														C75.358,380,72,383.358,72,387.5z" vector-effect="non-scaling-stroke"></path>
													<path d="M479.5,92c-3.962,0-7.752,0.742-11.247,2.083L235.01,160.429c-2.318,0.659-4.549,1.539-6.683,2.595
														c-0.128,0.06-0.255,0.121-0.379,0.188c-7.485,3.806-13.657,9.937-17.462,17.546L186.865,228H151.5c-8.547,0-15.5,6.953-15.5,15.5
														V260h-17v-21.187c0-4.14-1.612-8.032-4.54-10.96l-5.657-5.657c-2.929-2.929-7.678-2.929-10.606,0
														c-2.929,2.929-2.929,7.678,0,10.606l5.657,5.657c0.094,0.095,0.146,0.22,0.146,0.354V260H15.5C6.953,260,0,266.953,0,275.5v48
														c0,8.547,6.953,15.5,15.5,15.5H112v17H47.5C30.131,356,16,370.131,16,387.5S30.131,419,47.5,419h216
														c17.369,0,31.5-14.131,31.5-31.5S280.869,356,263.5,356H199v-17h40.5c4.142,0,7.5-3.358,7.5-7.5v-46.64l18.162-48.432
														c2.608-6.955,8.146-12.291,15.192-14.64l172.309-57.437l18.97,164.409L420.394,380H407.5c-4.142,0-7.5,3.358-7.5,7.5
														s3.358,7.5,7.5,7.5h80c12.958,0,23.5-10.542,23.5-23.5v-64v-184C511,106.131,496.869,92,479.5,92z M496,123.5
														c0,9.098-7.402,16.5-16.5,16.5c-7.715,0-14.191-5.33-15.988-12.495l-0.497-4.305c0.122-6.739,4.294-12.501,10.189-14.945
														c0.198-0.065,0.393-0.134,0.581-0.213c1.784-0.662,3.704-1.042,5.715-1.042C488.598,107,496,114.402,496,123.5z M448.001,123.554
														c0,0.034,0.002,0.068,0.003,0.102c0.003,0.506,0.015,1.01,0.041,1.51l-85.88,14.688l86.977-24.74
														c-0.739,2.672-1.142,5.482-1.142,8.386C448,123.518,448.001,123.536,448.001,123.554z M232,296.677l-33.103-12.413
														c-9.509-3.566-15.897-12.785-15.897-22.94V243h8.468c0.009,0,0.017,0.001,0.026,0.001c0.007,0,0.014-0.001,0.021-0.001h14.686
														c7.113,0,13.404,4.534,15.653,11.282L232,284.717V296.677z M15,323.5v-48c0-0.276,0.224-0.5,0.5-0.5H136v49H15.5
														C15.224,324,15,323.776,15,323.5z M280,387.5c0,9.098-7.402,16.5-16.5,16.5h-216c-9.098,0-16.5-7.402-16.5-16.5
														S38.402,371,47.5,371h216C272.598,371,280,378.402,280,387.5z M184,356h-57v-17h16.5H184V356z M151,324v-80.5
														c0-0.276,0.224-0.5,0.5-0.5H168v18.324c0,16.373,10.3,31.236,25.631,36.985L232,312.698V324H151z M275.611,207.557
														c-11.361,3.788-20.289,12.391-24.494,23.604l-11.201,29.87l-3.831-11.492C231.791,236.656,219.782,228,206.202,228h-2.566
														l20.268-40.535c2.224-4.449,5.755-8.082,10.041-10.462l215.918-36.93l1.044,9.052L275.611,207.557z M466.351,152.114
														c4.005,1.848,8.456,2.886,13.149,2.886c6.046,0,11.698-1.716,16.5-4.681v154.075l-10.828,10.828L466.351,152.114z M496,371.5
														c0,4.687-3.813,8.5-8.5,8.5h-45.894L496,325.606V371.5z" vector-effect="non-scaling-stroke">
														</path>
												</g>
											</svg>
										</span>
										Землеройные
									</a>
								</div>
								<div class="row-vehicle">
									<a @click="toggle(4)">
										<span>
											<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 511 511" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 40px; height: 40px;">
												<g>
													<path d="M71.5,380c-4.142,0-7.5,3.358-7.5,7.5c0,4.687-3.813,8.5-8.5,8.5s-8.5-3.813-8.5-8.5s3.813-8.5,8.5-8.5
														c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5C42.542,364,32,374.542,32,387.5S42.542,411,55.5,411S79,400.458,79,387.5
														C79,383.358,75.642,380,71.5,380z" vector-effect="non-scaling-stroke"></path>
													<path d="M319.5,372c-4.142,0-7.5,3.358-7.5,7.5c0,9.098-7.402,16.5-16.5,16.5s-16.5-7.402-16.5-16.5s7.402-16.5,16.5-16.5
														c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5c-17.369,0-31.5,14.131-31.5,31.5s14.131,31.5,31.5,31.5s31.5-14.131,31.5-31.5
														C327,375.358,323.642,372,319.5,372z" vector-effect="non-scaling-stroke"></path>
													<path d="M503.5,396h-120c-0.276,0-0.5-0.224-0.5-0.5v-136c0-8.547-6.953-15.5-15.5-15.5H351V83.5c0-8.547-6.953-15.5-15.5-15.5h-48
														c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5H304v209.42c-2.809-0.269-5.642-0.42-8.5-0.42c-2.868,0-5.702,0.143-8.5,0.414
														v-40.34c0-6.923-1.83-13.752-5.292-19.749l-58.9-102.024C216.249,116.743,202.327,108,187.25,108H71.5
														C58.542,108,48,118.542,48,131.5V268h-8.5C22.131,268,8,282.131,8,299.5v56c0,0.91,0.17,1.779,0.468,2.586
														C3.111,366.621,0,376.701,0,387.5C0,418.103,24.897,443,55.5,443c25.223,0,46.555-16.919,53.281-40h108.261
														c0.017,0,0.033,0.002,0.05,0.002c0.015,0,0.029-0.002,0.044-0.002h19.39c9.363,23.411,32.26,40,58.973,40
														c35.014,0,63.5-28.486,63.5-63.5c0-11.232-2.944-21.785-8.082-30.949c0.048-0.344,0.082-0.693,0.082-1.051v-31.607
														c0.013-0.252,0.012-0.505,0-0.756V259h16.5c0.276,0,0.5,0.224,0.5,0.5v136c0,8.547,6.953,15.5,15.5,15.5h120
														c4.142,0,7.5-3.358,7.5-7.5S507.642,396,503.5,396z M335.5,83c0.276,0,0.5,0.224,0.5,0.5V244h-17V83H335.5z M209.391,137.012
														c0.087,0.183,0.181,0.363,0.283,0.539L266.51,236H151v-88.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5V236h-16.5
														c-9.098,0-16.5-7.402-16.5-16.5V123h84.25C196.668,123,205.359,128.5,209.391,137.012z M63,131.5c0-4.687,3.813-8.5,8.5-8.5H88
														v96.5c0,17.369,14.131,31.5,31.5,31.5h152c0.157,0,0.31-0.014,0.464-0.023c0.016,0.365,0.036,0.731,0.036,1.097v43.135
														c-10.341,2.887-19.914,7.63-28.339,13.846l-24.799-24.8C208.379,273.773,194.442,268,179.618,268H63V131.5z M55.5,428
														C33.168,428,15,409.832,15,387.5S33.168,347,55.5,347S96,365.168,96,387.5S77.832,428,55.5,428z M55.5,332
														c-12.131,0-23.357,3.923-32.5,10.552V299.5c0-9.098,7.402-16.5,16.5-16.5h140.118c10.818,0,20.988,4.213,28.638,11.862
														l24.114,24.114C217.284,334.704,208,356.038,208,379.5c0,2.84,0.144,5.679,0.417,8.5h-97.429c0.001-0.167,0.013-0.332,0.013-0.5
														C111,356.897,86.103,332,55.5,332z M223.514,388c-0.328-2.815-0.514-5.655-0.514-8.5c0-39.977,32.523-72.5,72.5-72.5
														c14.602,0,28.523,4.271,40.5,12.368v11.264C325,321.5,310.881,316,295.5,316c-35.014,0-63.5,28.486-63.5,63.5
														c0,2.884,0.211,5.717,0.585,8.5H223.514z M295.5,428c-26.743,0-48.5-21.757-48.5-48.5s21.757-48.5,48.5-48.5s48.5,21.757,48.5,48.5
														S322.243,428,295.5,428z M336,301.905c-5.429-2.847-11.121-5.086-17-6.718V259h17V301.905z" vector-effect="non-scaling-stroke"></path>
												</g>
											</svg>
										</span>
										Компактные
									</a>
									<a @click="toggle(5)">
										<span>
											<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 511 511" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 40px; height: 40px;">
												<g>
													<path d="M71.5,388c-4.142,0-7.5,3.358-7.5,7.5c0,4.687-3.813,8.5-8.5,8.5s-8.5-3.813-8.5-8.5s3.813-8.5,8.5-8.5
														c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5C42.542,372,32,382.542,32,395.5S42.542,419,55.5,419S79,408.458,79,395.5
														C79,391.358,75.642,388,71.5,388z" vector-effect="non-scaling-stroke"></path>
													<path d="M375.5,388c-4.142,0-7.5,3.358-7.5,7.5c0,4.687-3.813,8.5-8.5,8.5s-8.5-3.813-8.5-8.5s3.813-8.5,8.5-8.5
														c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5c-12.958,0-23.5,10.542-23.5,23.5s10.542,23.5,23.5,23.5s23.5-10.542,23.5-23.5
														C383,391.358,379.642,388,375.5,388z" vector-effect="non-scaling-stroke"></path>
													<path d="M151.5,388c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3s0.8,3.91,2.2,5.3c1.39,1.4,3.33,2.2,5.3,2.2
														c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3s-0.8-3.91-2.2-5.3C155.41,388.8,153.47,388,151.5,388z" vector-effect="non-scaling-stroke"></path>
													<path d="M135.5,140c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3s0.8,3.91,2.2,5.3c1.39,1.4,3.33,2.2,5.3,2.2
														c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3s-0.8-3.91-2.2-5.3C139.41,140.8,137.48,140,135.5,140z" vector-effect="non-scaling-stroke"></path>
													<path d="M263.5,252c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3c0,1.98,0.8,3.91,2.2,5.3c1.39,1.4,3.33,2.2,5.3,2.2
														c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.32,2.2-5.3c0-1.97-0.8-3.91-2.2-5.3C267.41,252.8,265.47,252,263.5,252z" vector-effect="non-scaling-stroke"></path>
													<path d="M474.2,120.8c1.39,1.4,3.33,2.2,5.3,2.2c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3s-0.8-3.91-2.2-5.3
														c-1.39-1.4-3.33-2.2-5.3-2.2c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3S472.8,119.41,474.2,120.8z" vector-effect="non-scaling-stroke"></path>
													<path d="M487,172.902v-26.812c13.759-3.375,24-15.806,24-30.591c0-17.369-14.131-31.5-31.5-31.5h-58.445
														c-2.647-4.765-7.728-8-13.555-8H47v-0.5C47,66.953,40.047,60,31.5,60h-16C6.953,60,0,66.953,0,75.5v112
														c0,8.547,6.953,15.5,15.5,15.5h16c8.547,0,15.5-6.953,15.5-15.5V155h57.895c1.279,5.266,3.908,10.128,7.754,14.181
														c5.922,6.24,14.251,9.819,22.852,9.819h28.25L208,238v45.5c0,4.142,3.358,7.5,7.5,7.5h16.525c-0.011,0.166-0.025,0.331-0.025,0.5
														v32c0,4.687-3.813,8.5-8.5,8.5H191v-16.396c0-0.022,0-0.044,0-0.066V315.5c0-0.048-0.006-0.095-0.007-0.143
														c-0.004-0.193-0.01-0.387-0.029-0.582c-0.012-0.125-0.034-0.246-0.052-0.369c-0.018-0.119-0.031-0.237-0.054-0.356
														c-0.038-0.195-0.088-0.386-0.141-0.575c-0.012-0.043-0.019-0.087-0.032-0.131l-0.01-0.034c-0.007-0.022-0.013-0.045-0.02-0.067
														l-20.549-68.496C167.1,234.73,158.054,228,147.596,228H39.5C26.542,228,16,238.542,16,251.5v57.734c-9.29,3.138-16,11.93-16,22.266
														v64C0,426.103,24.897,451,55.5,451c28.058,0,51.305-20.934,54.979-48H120v0.5c0,12.958,10.542,23.5,23.5,23.5h48
														c12.958,0,23.5-10.542,23.5-23.5V403h89.521c3.675,27.066,26.921,48,54.979,48c28.084,0,51.348-20.973,54.989-48.076
														c0.331,0.045,0.667,0.076,1.011,0.076h32c8.547,0,15.5-6.953,15.5-15.5v-104c0-0.061-0.008-0.119-0.009-0.179
														c-0.004-0.157-0.01-0.314-0.024-0.472c-0.009-0.108-0.023-0.215-0.037-0.321c-0.017-0.132-0.036-0.263-0.06-0.395
														c-0.025-0.134-0.055-0.265-0.087-0.396c-0.025-0.102-0.049-0.204-0.079-0.306c-0.044-0.155-0.096-0.306-0.15-0.456
														c-0.02-0.055-0.033-0.111-0.054-0.167l-32.11-83.487c-5.825-15.145-20.641-25.32-36.867-25.32H335.5
														c-12.958,0-23.5,10.542-23.5,23.5V252h-17.909c-2.199-8.967-8.246-16.433-16.285-20.55c-0.237-0.368-0.502-0.722-0.81-1.054
														L206.985,155H407.5c5.827,0,10.908-3.235,13.555-8H472v32.5c0,4.142,3.358,7.5,7.5,7.5c9.098,0,16.5,7.402,16.5,16.5
														s-7.402,16.5-16.5,16.5s-16.5-7.402-16.5-16.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5c0,17.369,14.131,31.5,31.5,31.5
														s31.5-14.131,31.5-31.5C511,188.714,500.76,176.275,487,172.902z M496,115.5c0,9.098-7.402,16.5-16.5,16.5H423V99h56.5
														C488.598,99,496,106.402,496,115.5z M32,187.5c0,0.257-0.243,0.5-0.5,0.5h-16c-0.257,0-0.5-0.243-0.5-0.5v-112
														c0-0.257,0.243-0.5,0.5-0.5h16c0.257,0,0.5,0.243,0.5,0.5v8v64V187.5z M47,91h360.5c0.276,0,0.5,0.225,0.5,0.5V108H217.441
														c-8.414,0-16.324,3.276-22.273,9.227l-12.06,12.06l-2.99-3.221c-5.94-6.396-14.354-10.065-23.083-10.065h-20.176
														c-15.432,0-28.446,10.158-31.934,24H47V91z M167.5,164h-32c-4.571,0-8.823-1.827-11.971-5.145
														c-3.146-3.314-4.746-7.667-4.505-12.254c0.451-8.603,8.451-15.602,17.834-15.602h20.176c4.573,0,8.98,1.922,12.091,5.272
														L254.301,228H219.25l-45.75-61C172.083,165.111,169.861,164,167.5,164z M15,331.5c0-4.687,3.813-8.5,8.5-8.5h16
														c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5H31v-56.5c0-4.687,3.813-8.5,8.5-8.5h108.096c3.783,0,7.055,2.435,8.142,6.058
														L173.42,308H71.503c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5H176v41h-32.5h-40c-0.737,0-1.448,0.111-2.121,0.309
														C91.38,349.647,74.547,340,55.5,340c-15.964,0-30.365,6.784-40.5,17.61V331.5z M55.5,436C33.168,436,15,417.832,15,395.5
														S33.168,355,55.5,355S96,373.168,96,395.5S77.832,436,55.5,436z M110.479,388c-0.419-3.085-1.077-6.096-1.983-9h13.102
														c-1.027,2.638-1.597,5.503-1.597,8.5v0.5H110.479z M200,403.5c0,4.687-3.813,8.5-8.5,8.5h-48c-4.687,0-8.5-3.813-8.5-8.5v-16
														c0-4.687,3.813-8.5,8.5-8.5h48c4.687,0,8.5,3.813,8.5,8.5V403.5z M213.403,379h93.102c-0.906,2.904-1.564,5.915-1.983,9H215v-0.5
														C215,384.503,214.43,381.638,213.403,379z M359.5,436c-22.332,0-40.5-18.168-40.5-40.5s18.168-40.5,40.5-40.5
														s40.5,18.168,40.5,40.5S381.832,436,359.5,436z M441.503,268H375.5c-9.098,0-16.5-7.402-16.5-16.5V219h63.657L441.503,268z
														 M448,348h-8.5c-0.257,0-0.5-0.243-0.5-0.5v-8c0-0.257,0.243-0.5,0.5-0.5h8.5V348z M327,195.5c0-4.687,3.813-8.5,8.5-8.5h58.022
														c10.064,0,19.254,6.312,22.867,15.705l0.498,1.295H351.5c-4.142,0-7.5,3.358-7.5,7.5v40c0,17.369,14.131,31.5,31.5,31.5h71.772
														l0.728,1.893V324h-8.5c-8.547,0-15.5,6.953-15.5,15.5v8c0,8.547,6.953,15.5,15.5,15.5h8.5v24.5c0,0.275-0.224,0.5-0.5,0.5h-32
														c-0.344,0-0.68,0.031-1.011,0.076C410.848,360.973,387.584,340,359.5,340c-12.131,0-23.357,3.923-32.5,10.552V195.5z
														 M312.027,364.026c-0.175-0.012-0.349-0.026-0.527-0.026h-120H191v-17h32.5c12.958,0,23.5-10.542,23.5-23.5v-32
														c0-0.169-0.014-0.334-0.025-0.5H263.5c14.785,0,27.216-10.241,30.591-24H312v96.5C312,363.678,312.014,363.852,312.027,364.026z
														 M263.5,276H223v-33h40.5c9.098,0,16.5,7.402,16.5,16.5S272.598,276,263.5,276z M407.5,140H193.607l12.167-12.167
														c3.117-3.117,7.26-4.833,11.667-4.833H408v16.5C408,139.775,407.776,140,407.5,140z" vector-effect="non-scaling-stroke"></path>
													<path d="M55.5,267h32c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-32c-4.142,0-7.5,3.358-7.5,7.5S51.358,267,55.5,267z" vector-effect="non-scaling-stroke"></path>
													<path d="M55.5,291h32c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-32c-4.142,0-7.5,3.358-7.5,7.5S51.358,291,55.5,291z" vector-effect="non-scaling-stroke"></path>
												</g>
											</svg>
										</span>
										Подъемные
									</a>
									<a @click="toggle(6)">
										<span>
											<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 511 511"style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 40px; height: 40px;">
												<g>
													<path d="M71.5,363.561c-4.142,0-7.5,3.358-7.5,7.5c0,4.687-3.813,8.5-8.5,8.5s-8.5-3.813-8.5-8.5s3.813-8.5,8.5-8.5
														c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5c-12.958,0-23.5,10.542-23.5,23.5s10.542,23.5,23.5,23.5s23.5-10.542,23.5-23.5
														C79,366.919,75.642,363.561,71.5,363.561z" vector-effect="non-scaling-stroke"></path>
													<path d="M167.5,363.561c-4.142,0-7.5,3.358-7.5,7.5c0,4.687-3.813,8.5-8.5,8.5s-8.5-3.813-8.5-8.5s3.813-8.5,8.5-8.5
														c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5c-12.958,0-23.5,10.542-23.5,23.5s10.542,23.5,23.5,23.5s23.5-10.542,23.5-23.5
														C175,366.919,171.642,363.561,167.5,363.561z" vector-effect="non-scaling-stroke"></path>
													<path d="M423.5,363.561c-4.142,0-7.5,3.358-7.5,7.5c0,4.687-3.813,8.5-8.5,8.5s-8.5-3.813-8.5-8.5s3.813-8.5,8.5-8.5
														c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5c-12.958,0-23.5,10.542-23.5,23.5s10.542,23.5,23.5,23.5s23.5-10.542,23.5-23.5
														C431,366.919,427.642,363.561,423.5,363.561z" vector-effect="non-scaling-stroke"></path>
													<path d="M510.991,258.882c-0.004-0.157-0.01-0.314-0.024-0.472c-0.009-0.108-0.023-0.215-0.037-0.321
														c-0.017-0.132-0.036-0.263-0.06-0.395c-0.025-0.134-0.055-0.265-0.087-0.396c-0.025-0.102-0.049-0.204-0.079-0.306
														c-0.044-0.155-0.096-0.306-0.15-0.456c-0.02-0.055-0.033-0.111-0.054-0.167l-32.11-83.487c-5.825-15.145-20.641-25.32-36.867-25.32
														H375.5c-12.958,0-23.5,10.542-23.5,23.5v5.203l-28.851-35.195c-2.496-3.044-5.721-5.336-9.327-6.626l-136.29-48.781
														c-3.313-1.186-6.945-1.518-10.504-0.959L73.44,99.387l-13.263-4.748c-12.198-4.366-25.678,2.007-30.045,14.207L8.566,169.102
														c-2.116,5.91-1.803,12.29,0.88,17.965c1.551,3.279,3.803,6.076,6.554,8.278v103.716c0,9.713,4.421,18.411,11.355,24.194
														C11,332.921,0,350.726,0,371.061c0,30.603,24.897,55.5,55.5,55.5c20.474,0,38.38-11.152,48-27.692
														c9.62,16.54,27.526,27.692,48,27.692c28.058,0,51.305-20.934,54.979-48H216v0.5c0,12.958,10.542,23.5,23.5,23.5h48
														c12.958,0,23.5-10.542,23.5-23.5v-0.5h41.521c3.675,27.066,26.921,48,54.979,48c28.084,0,51.348-20.973,54.989-48.076
														c0.331,0.045,0.667,0.076,1.011,0.076h32c8.547,0,15.5-6.953,15.5-15.5v-104C511,259.001,510.992,258.942,510.991,258.882z
														 M496,323.561h-8.5c-0.257,0-0.5-0.243-0.5-0.5v-8c0-0.257,0.243-0.5,0.5-0.5h8.5V323.561z M489.503,243.561H415.5
														c-9.098,0-16.5-7.402-16.5-16.5v-32.5h71.657L489.503,243.561z M321.963,315.561c5.562-3.205,10.066-8.601,12.444-15.246
														L352,251.163v64.398H321.963z M349.829,197.276c1.443,1.76,2.181,4.211,2.171,6.853v0.164c-0.024,1.587-0.316,3.239-0.893,4.851
														l-30.823,86.118c-1.56,4.358-4.903,7.639-8.519,8.36l-50.091,9.982l38.327-107.081c1.396-3.9-0.634-8.193-4.534-9.589
														c-3.899-1.396-8.192,0.634-9.589,4.534l-39.556,110.514c-0.246,0.687-0.38,1.386-0.422,2.08l-129.568-46.375
														c0.409-0.563,0.757-1.184,1.003-1.872l39.556-110.514c1.396-3.899-0.634-8.192-4.534-9.588c-3.898-1.397-8.192,0.634-9.589,4.534
														l-38.533,107.657l-55.311-62.089l29.35-82.001l82.229-12.902l-7.333,20.487c-1.396,3.9,0.634,8.193,4.534,9.589
														c0.835,0.299,1.688,0.441,2.527,0.441c3.079,0,5.965-1.91,7.062-4.974l9.05-25.285l128.986,46.167l-9.05,25.285
														c-1.396,3.899,0.634,8.192,4.534,9.589c0.835,0.299,1.688,0.44,2.527,0.44c3.079,0,5.965-1.91,7.062-4.975l7.099-19.833
														L349.829,197.276z M22.688,174.157l21.566-60.256c1.242-3.47,4.521-5.637,8.011-5.637c0.949,0,1.914,0.16,2.856,0.498l8.002,2.864
														l-27.296,76.262l-8.003-2.865c-2.137-0.765-3.849-2.316-4.819-4.369C22.036,178.602,21.923,176.295,22.688,174.157z M47.5,315.561
														c-9.098,0-16.5-7.402-16.5-16.5v-96.969l5.035,1.802L99.05,274.63c2.396,2.689,5.414,4.738,8.727,5.924l97.806,35.007H55.5H47.5z
														 M113.61,330.561c-3.957,3.704-7.368,7.979-10.11,12.692c-2.741-4.713-6.153-8.988-10.11-12.692H113.61z M55.5,411.561
														c-22.332,0-40.5-18.168-40.5-40.5s18.168-40.5,40.5-40.5s40.5,18.168,40.5,40.5S77.832,411.561,55.5,411.561z M151.5,411.561
														c-22.332,0-40.5-18.168-40.5-40.5s18.168-40.5,40.5-40.5s40.5,18.168,40.5,40.5S173.832,411.561,151.5,411.561z M296,379.061
														c0,4.687-3.813,8.5-8.5,8.5h-48c-4.687,0-8.5-3.813-8.5-8.5v-16c0-4.687,3.813-8.5,8.5-8.5h48c4.687,0,8.5,3.813,8.5,8.5V379.061z
														 M287.5,339.561h-48c-12.958,0-23.5,10.542-23.5,23.5v0.5h-9.521c-1.758-12.945-7.989-24.481-17.089-33h180.22
														c-9.1,8.519-15.332,20.055-17.089,33H311v-0.5C311,350.103,300.458,339.561,287.5,339.561z M407.5,411.561
														c-22.332,0-40.5-18.168-40.5-40.5s18.168-40.5,40.5-40.5s40.5,18.168,40.5,40.5S429.832,411.561,407.5,411.561z M495.5,363.561h-32
														c-0.344,0-0.68,0.031-1.011,0.076c-3.641-27.104-26.905-48.076-54.989-48.076H367v-111.94c0-0.027,0-0.055,0-0.083v-32.477
														c0-4.687,3.813-8.5,8.5-8.5h66.022c10.064,0,19.254,6.312,22.867,15.705l0.498,1.295H391.5c-4.142,0-7.5,3.358-7.5,7.5v40
														c0,17.369,14.131,31.5,31.5,31.5h79.772l0.728,1.893v39.107h-8.5c-8.547,0-15.5,6.953-15.5,15.5v8c0,8.547,6.953,15.5,15.5,15.5
														h8.5v24.5C496,363.337,495.776,363.561,495.5,363.561z" vector-effect="non-scaling-stroke"></path>
													<path d="M247.5,363.561c-1.98,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3s0.8,3.91,2.2,5.3c1.39,1.4,3.32,2.2,5.3,2.2
														c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3s-0.8-3.91-2.2-5.3C251.41,364.361,249.47,363.561,247.5,363.561z" vector-effect="non-scaling-stroke"></path>
												</g>
											</svg>
										</span>
										Бетоные
									</a>
									<a @click="toggle(7)">
										<span>
											<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 511.999 511.999" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 40px; height: 33px;">
												<g>
													<g>
														<g>
															<path d="M111.941,304.123c-26.421,0-47.915,21.495-47.915,47.915s21.495,47.915,47.915,47.915s47.915-21.495,47.915-47.915
																S138.361,304.123,111.941,304.123z M111.941,384.156c-17.71,0-32.118-14.408-32.118-32.118c0-17.71,14.408-32.118,32.118-32.118
																c17.71,0,32.118,14.408,32.118,32.118C144.059,369.748,129.651,384.156,111.941,384.156z" vector-effect="non-scaling-stroke"></path>
															<path d="M111.941,328.133c-13.181,0-23.906,10.724-23.906,23.906s10.724,23.905,23.906,23.905s23.906-10.724,23.906-23.905
																C135.847,338.858,125.122,328.133,111.941,328.133z M111.941,360.146c-4.471,0-8.108-3.638-8.108-8.107
																c0-4.471,3.638-8.108,8.108-8.108s8.108,3.638,8.108,8.108C120.049,356.508,116.412,360.146,111.941,360.146z" vector-effect="non-scaling-stroke"></path>
															<path d="M424.069,328.133c-13.182,0-23.906,10.724-23.906,23.906s10.724,23.905,23.906,23.905s23.905-10.724,23.905-23.905
																C447.973,338.858,437.249,328.133,424.069,328.133z M424.069,360.146c-4.471,0-8.108-3.638-8.108-8.107
																c0-4.471,3.638-8.108,8.108-8.108s8.107,3.638,8.107,8.108C432.176,356.508,428.54,360.146,424.069,360.146z" vector-effect="non-scaling-stroke"></path>
															<path d="M424.069,304.123c-26.421,0-47.915,21.495-47.915,47.915s21.495,47.915,47.915,47.915s47.914-21.495,47.914-47.915
																S450.488,304.123,424.069,304.123z M424.069,384.156c-17.71,0-32.118-14.408-32.118-32.118c0-17.71,14.408-32.118,32.118-32.118
																c17.709,0,32.117,14.408,32.117,32.118C456.186,369.748,441.778,384.156,424.069,384.156z" vector-effect="non-scaling-stroke"></path>
															<rect x="167.968" y="344.139" width="200.078" height="15.797" vector-effect="non-scaling-stroke"></rect>
															<polygon points="168.068,336.032 183.865,336.032 183.865,295.911 280.114,295.911 280.114,336.032 295.911,336.032 
																295.911,280.114 168.068,280.114 			" vector-effect="non-scaling-stroke"></polygon>
															<rect x="215.981" y="304.119" width="32.013" height="15.797" vector-effect="non-scaling-stroke"></rect>
															<rect x="376.05" y="280.118" width="80.032" height="15.797" vector-effect="non-scaling-stroke"></rect>
															<path d="M304.124,152.061v183.866h63.817V152.061H304.124z M352.144,320.13h-32.222v-56.232h32.222V320.13z M352.144,248.101
																h-32.222v-80.242h32.222V248.101z" vector-effect="non-scaling-stroke"></path>
															<path d="M295.911,152.061H168.068v111.837h127.844V152.061z M280.115,248.101h-0.001h-16.215v-32.118h-15.797v32.118h-32.222
																v-32.118h-15.797v32.118h-16.215v-80.242h96.249V248.101z" vector-effect="non-scaling-stroke"></path>
															<path d="M32.013,263.898h127.844V152.061H32.013V263.898z M47.81,167.859h96.249v80.242h-16.216v-32.118h-15.797v32.118H79.823
																v-32.118H64.026v32.118H47.81V167.859z" vector-effect="non-scaling-stroke"></path>
															<path d="M469.138,112.045H42.86C19.227,112.045,0,131.272,0,154.906v205.031h55.918V344.14H15.797v-48.228h144.163v-15.797
																H15.797V154.906c0-14.923,12.141-27.064,27.063-27.064h426.277c13.963,0,25.487,10.628,26.913,24.219H376.152v111.837h120.049
																v16.215h-24.114v15.797h24.114v8.213h-24.114v15.797h24.114v24.219h-16.112v15.797h31.91V154.906
																C512,131.272,492.773,112.045,469.138,112.045z M479.986,248.101V231.99h-15.797v16.111h-32.222v-32.118h-15.797v32.118H391.95
																v-80.242h104.252v80.242H479.986z" vector-effect="non-scaling-stroke"></path>
														</g>
													</g>
												</g>
											</svg>
										</span>
										Пассажирские
									</a>
								</div>
								<div class="subcats" v-if="v_sub_cat">
									<p>{{current_sub_cat['title']}}</p>
									<span class="close" @click="v_sub_cat = false">
										<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 24 24" class="ng-element" data-id="ea9eddc455d1400fafcf0a86059bd5fb" style="opacity: 1; mix-blend-mode: normal; fill: rgb(0, 0, 0); width: 20px; height: 20px;"><g><path xmlns:default="http://www.w3.org/2000/svg" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" style="fill: rgb(0, 0, 0);"></path></g></svg>
									</span>
									<ul id="ulsubcat" v-if="v_sub_cat">
										<!-- <a class="up" id="up">
											<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 24 24" class="ng-element" data-id="3cfe82da7e734667a0a4423b9b537a86" style="opacity: 1; mix-blend-mode: normal; fill: rgb(0, 0, 0); width: 28px; height: 28px; transform: rotate(0deg) translate(0, 0) translate(0, 0) rotate(180deg);"><g><path xmlns:default="http://www.w3.org/2000/svg" d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" style="fill: rgb(0, 0, 0);"></path></g></svg>
										</a> -->
										<a href="" v-for="item in current_sub_cat['list']">
											<li>{{item}}</li>
										</a>
										<!-- <a class="down">
											<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 24 24" style="opacity: 1; mix-blend-mode: normal; fill: rgb(0, 0, 0); width: 28px; height: 28px;"><g><path xmlns:default="http://www.w3.org/2000/svg" d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" style="fill: rgb(0, 0, 0);"></path></g>
											</svg>
										</a> -->
									</ul>
								</div>
							</div>
							<div class="search-box">
								<input type="text" placeholder="Поиск техники" v-model="search_text">
								<button>
									<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 30.239 30.239" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 23px; height: 23px;">
										<g>
											<path d="M20.194,3.46c-4.613-4.613-12.121-4.613-16.734,0c-4.612,4.614-4.612,12.121,0,16.735   c4.108,4.107,10.506,4.547,15.116,1.34c0.097,0.459,0.319,0.897,0.676,1.254l6.718,6.718c0.979,0.977,2.561,0.977,3.535,0   c0.978-0.978,0.978-2.56,0-3.535l-6.718-6.72c-0.355-0.354-0.794-0.577-1.253-0.674C24.743,13.967,24.303,7.57,20.194,3.46z    M18.073,18.074c-3.444,3.444-9.049,3.444-12.492,0c-3.442-3.444-3.442-9.048,0-12.492c3.443-3.443,9.048-3.443,12.492,0   C21.517,9.026,21.517,14.63,18.073,18.074z" fill="#FFFFFF" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
										</g>
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
	/* eslint-disable */
	export default {
		data(){
			return{
		        search_text: '',
		        v_sub_cat: false,
		        sub_cats: {
		            0: {
		                title: 'Железо-бетонные',
		                lists: [
		                    'Самосвалы1',
		                    'Тентовые1',
		                    'Эвакуаторы1',
		                    'Рефрежираторы1',
		                    'Цельнометаллические1',
		                    'Бортовые1'
		                ]
		            },
		            1: {
		                title: 'Асфальт',
		                lists: [
		                    'Самосвалы2',
		                    'Тентовые2',
		                    'Эвакуаторы2',
		                    'Рефрежираторы2',
		                    'Цельнометаллические2',
		                    'Бортовые2'
		                ]
		            },
		            2: {
		                title: 'Смеси',
		                lists: [
		                    'Самосвалы3',
		                    'Тентовые3',
		                    'Эвакуаторы3',
		                    'Рефрежираторы3',
		                    'Цельнометаллические3',
		                    'Бортовые3'
		                ]
		            },
		            3: {
		                title: 'Сыпучие',
		                lists: [
		                    'Самосвалы4',
		                    'Тентовые4',
		                    'Эвакуаторы4',
		                    'Рефрежираторы4',
		                    'Цельнометаллические4',
		                    'Бортовые4'
		                ]
		            },
		            4: {
		                title: 'Трубы',
		                lists: [
		                    'Самосвалы5',
		                    'Тентовые5',
		                    'Эвакуаторы5',
		                    'Рефрежираторы5',
		                    'Цельнометаллические5',
		                    'Бортовые5'
		                ]
		            },
		            5: {
		                title: 'Металло-прокат',
		                lists: [
		                    'Самосвалы6',
		                    'Тентовые6',
		                    'Эвакуаторы6',
		                    'Рефрежираторы6',
		                    'Цельнометаллические6',
		                    'Бортовые6'
		                ]
		            },
		            6: {
		                title: 'Дерево',
		                lists: [
		                    'Самосвал7',
		                    'Тентовы7',
		                    'Эвакуатор7',
		                    'Рефрежиратор7',
		                    'Цельнометаллически7',
		                    'Бортовы7'
		                ]
		            },
		            7: {
		                title: 'Цемент',
		                lists: [
		                    'Самосвалы8',
		                    'Тентовые8',
		                    'Эвакуаторы8',
		                    'Рефрежираторы8',
		                    'Цельнометаллические8',
		                    'Бортовые8'
		                ]
		            },
		            8: {
		                title: 'Кирпич',
		                lists: [
		                    'Самосвалы8',
		                    'Тентовые8',
		                    'Эвакуаторы8',
		                    'Рефрежираторы8',
		                    'Цельнометаллические8',
		                    'Бортовые8'
		                ]
		            },
		            9: {
		                title: 'Газоблок',
		                lists: [
		                    'Самосвалы8',
		                    'Тентовые8',
		                    'Эвакуаторы8',
		                    'Рефрежираторы8',
		                    'Цельнометаллические8',
		                    'Бортовые8'
		                ]
		            }
		        },
		        current_sub_cat: {
		            title: 'Грузовые',
		            list: [
		                'Самосвалы',
		                'Тентовые',
		                'Эвакуаторы',
		                'Рефрежираторы',
		                'Цельнометаллические',
		                'Бортовые'
		            ]
		        }    
			}
		},
		methods: {
	        toggle: function(index){
	            this.current_sub_cat['title'] = this.sub_cats[index]['title']
	            this.current_sub_cat['list'] = this.sub_cats[index]['lists']
	            this.v_sub_cat = !this.v_sub_cat
	        },
	        close_sub: function(){
	            this.sub_cat = false
	        },
	        post: function(){
	        	this.$http.get('http://46.36.218.84/api/list/techs').then(function(data){
	        		console.log(data.body)
	        	})
	        }
	    },
	    mounted() {
	    	this.post()
	    }
	}
</script>
<style lang="css">
	@import '../css/style.css';
	@import '../css/media.css';
	@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css';
</style>