<template>
	<div id="app">
		<my-header></my-header>
		<my-map
		   :markers="spec_tech" 
		   :isSpec="Spec"
	   	  >
   	  	</my-map>
		<!-- :style="{'background-image': 'url(https://uc.uxpin.com/files/868058/860444/75-227f5c.jpg)'}" -->
   	  	<!-- <div class="marker-info">
   	  		<div class="header row-flex">
   	  			<div class="user-avatar background">
   	  			</div>
   	  			<div class="user-info column-start-flex">
   	  				<h6>Володя Машина</h6>
   	  				<span>Доступен</span>
   	  			</div>
   	  		</div>
   	  		<div class="order row-flex">
   	  			<div class="order-avatar background" :style="{'background-image': 'url(https://uc.uxpin.com/files/845614/838895/maxresdefault-6d3720.jpg)'}">
   	  			</div>
   	  			<div class="order-info column-start-flex">
   	  				<h6>Стрела</h6>
   	  				<span>Описание: Lorem ipsum dolor sit </span>
   	  			</div>
   	  		</div>
			<div class="form">
				<div class="input-group">
					<input type="text" class="form-control" v-model="Order.name" :class="{'has-value' : Order.name, focused: Order.name}">
					<label>Укажите ваше Имя</label>
					<span class="form-span">
						<svg version="1.2" viewBox="0 0 60 60" style="width: 20px; height: 20px; ">
							<path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951
							c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319
							c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056
							v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309
							c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043
							C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164
							l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22
							C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021
							C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298
							C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713
							c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776
							C49.513,45.874,51,48.28,51,50.957V54z" vector-effect="non-scaling-stroke"></path>
						</svg>
					</span>
				</div>
				<div class="input-group">
					<input type="text" class="form-control" v-model="Order.phone" :class="{'has-value' : Order.phone, focused: Order.phone}">
					<label>Ваш номер телефона</label>
					<span class="form-span">
						<svg version="1.2"viewBox="0 0 348.077 348.077"style="width: 20px; height: 20px;">
							<path d="M340.273,275.083l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518,0.744l-27.082,27.076
							c-1.711-0.943-3.482-1.928-5.344-2.973c-17.102-9.476-40.509-22.464-65.14-47.113c-24.704-24.701-37.704-48.144-47.209-65.257
							c-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149l8.936-8.947c11.097-11.1,11.403-28.826,0.721-39.521L73.39,8.194
							C62.708-2.486,44.969-2.162,33.872,8.938l-15.15,15.237l0.414,0.411c-5.08,6.482-9.325,13.958-12.484,22.02
							C3.74,54.28,1.927,61.603,1.098,68.941C-6,127.785,20.89,181.564,93.866,254.541c100.875,100.868,182.167,93.248,185.674,92.876
							c7.638-0.913,14.958-2.738,22.397-5.627c7.992-3.122,15.463-7.361,21.941-12.43l0.331,0.294l15.348-15.029
							C350.631,303.527,350.95,285.795,340.273,275.083z" vector-effect="non-scaling-stroke">
							</path>
						</svg>
					</span>
				</div>
			</div>
			<div class="input-box">
				<button class="dbutton"><b>Заказать</b></button>
			</div>
      	</div> -->
		<section class="content" id="zakaz">
			<div class="container-fluid">
				<div class="container">
					<div class="row">
						<div class="col-md-4 cats" v-if="first">
							<div class="title">
								<h4>Алматы</h4>
								<span>
									<b>+7</b>
									<svg version="1.2" preserveAspectRatio="none" viewBox="0 0 407.2 407.2" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 36px; height: 36px;">
										<g>
											<g>
												<path d="M267.6,10.2c-5.6,0-10.4,4.8-10.4,10.4V49c0,5.6,4.8,10.4,10.4,10.4c5.6,0,10.4-4.8,10.4-10.4V20.6
													C278,15,273.2,10.2,267.6,10.2z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M366,51c-4-4-10.4-4-14.4,0l-20,20c-4,4-4,10.4,0,14.4s10.4,4,14.4,0l20-20C370,61.4,370,55,366,51z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M203.2,71l-20-20c-4-4-10.4-4-14.4,0s-4,10.4,0,14.4l20,20c4,4,10.4,4,14.4,0S207.2,75,203.2,71z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M275.2,322.6c-8-8-18.8-12.8-30.8-12.8c-0.4,0-0.8,0-0.8,0H131.2c-5.6,0-10.4,4.4-10.4,10.4c0,5.6,4.4,10.4,10.4,10.4
													h112.4c0.4,0,0.4,0,0.8,0c6.4,0,12,2.4,16,6.8c4,4,6.8,10,6.8,16c0,6.4-2.4,12-6.8,16c-4,4-10,6.8-16,6.8c-6.4,0-12-2.4-16-6.8
													c-4-4-6.8-10-6.8-16c0-5.6-4.8-10.4-10.4-10.4c-5.6,0-10.4,4.8-10.4,10.4c0,12,4.8,22.8,12.8,30.8s18.8,12.8,30.8,12.8
													s22.8-4.8,30.8-12.8s12.8-18.8,12.8-30.8S283.2,330.6,275.2,322.6z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M365.6,233.4L346,213.8c-4-4-10.4-4-14.4,0c-1.6,1.6-2.4,3.2-2.8,5.2c-0.4-9.2-2.8-17.6-6-25.6c4-5.2,7.6-11.2,10-17.2
													c3.6-8.4,5.2-17.6,5.2-26.8c0-19.6-8-37.2-20.8-49.6c-12.8-12.4-30.4-20.4-49.6-20.4c-13.2,0-25.6,3.6-36.4,10
													c-7.6,4.8-14.4,10.8-20,18c-16-10.8-35.2-17.2-55.6-17.2c-24.4,0-46.8,8.8-64,23.6C76.4,127,65.2,144.6,60,165.4
													c-15.6,2-29.6,9.2-40,19.6C7.6,197.4,0,214.6,0,233.4s7.6,36,20,48.4c12.4,12.4,29.6,20,48.4,20h182c21.6,0,40.8-8.8,55.2-22.8
													c14-14,22.8-33.6,22.8-55.2v-0.4c0.4,1.6,1.2,3.2,2.8,4.4l20,20c4,4,10.4,4,14.4,0S369.6,237.4,365.6,233.4z M291.6,264.6
													c-10.4,10.4-24.8,16.8-40.4,16.8H68.8c-13.2,0-25.2-5.2-34-14s-14-20.8-14-34s5.2-25.2,14-34s20.8-14,34-14c1.6,0,3.6-0.4,4.8-1.2
													c2.4-1.6,4-4,4.4-6.8c2.8-18.8,12.4-35.6,26-47.2c13.6-11.6,31.6-18.8,50.8-18.8c16.4,0,31.6,5.2,44.4,14
													c9.6,6.8,18,15.6,23.6,26.4c-1.6,0.8-3.2,1.2-4.8,2c-10,4.4-18.8,11.2-26.4,19.2c-3.6,4.4-3.2,10.8,0.8,14.4
													c4.4,3.6,10.8,3.2,14.4-0.8c5.6-6,12-10.8,19.2-14.4c7.2-3.2,15.2-5.2,23.6-5.2c16,0,30,6.4,40.4,16.8
													c10.4,10.4,16.8,24.8,16.8,40.4C308,240.2,301.6,254.2,291.6,264.6z M313.6,168.6c-0.8,2-1.6,4-2.8,5.6c-1.6-2-3.2-3.6-4.8-5.2
													c-14-14-33.6-22.8-55.2-22.8c-2,0-4.4,0-6.4,0.4C240,137,234,128.2,226.8,121c4-5.6,9.2-10,14.8-13.6c7.6-4.8,16.4-7.2,25.6-7.2
													c13.6,0,26.4,5.6,35.2,14.4c9.2,9.2,14.4,21.6,14.4,35.2C317.2,156.6,316,163,313.6,168.6z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M396.8,139.4h-28.4c-5.6,0-10.4,4.8-10.4,10.4c0,5.6,4.8,10.4,10.4,10.4h28.4c5.6,0,10.4-4.8,10.4-10.4
													C406.8,144.2,402.4,139.4,396.8,139.4z" vector-effect="non-scaling-stroke"></path>
											</g>
										</g>
									</svg>
								</span>
							</div>
							<!-- <form action=""> -->
								<div class="form">
									<div class="input-group">
										<input type="text" class="form-control" value="" v-model="Order.address" :class="{'has-value' : Order.address, focused: Order.address}">
										<label>Адресс</label>
										<span class="form-span">
											<svg version="1.2" viewBox="0 0 51.636 51.636" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
												<path d="M51.353,0.914c-0.295-0.305-0.75-0.39-1.135-0.213L0.583,23.481c-0.399,0.184-0.632,0.605-0.574,1.041
												s0.393,0.782,0.826,0.854l22.263,3.731l2.545,21.038c0.054,0.438,0.389,0.791,0.824,0.865c0.057,0.01,0.113,0.015,0.169,0.015
												c0.375,0,0.726-0.211,0.896-0.556l24-48.415C51.72,1.675,51.648,1.218,51.353,0.914z M27.226,46.582l-2.232-18.457
												c-0.054-0.44-0.391-0.793-0.828-0.866L4.374,23.941L48.485,3.697L27.226,46.582z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											</svg>
										</span>
									</div>
									<div class="input-group">
										<select class="form-control" v-model="Order.nds" :class="{'has-value' : Order.nds, focused: Order.nds}">
									        <option value=""></option>
									        <option value="1">с НДС</option>
									        <option value="2">без НДС</option>
										</select>
										<label>Комиссия</label>
										<span class="form-span">
											<svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
												<g>
													<path d="M55.783,8H4.217C1.892,8,0,9.892,0,12.217v35.566C0,50.108,1.892,52,4.217,52h51.566C58.108,52,60,50.108,60,47.783V12.217
														C60,9.892,58.108,8,55.783,8z M58,47.783C58,49.005,57.006,50,55.783,50H4.217C2.994,50,2,49.005,2,47.783V12.217
														C2,10.995,2.994,10,4.217,10h51.566C57.006,10,58,10.995,58,12.217V47.783z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M16,37H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S16.553,37,16,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M29,37h-9c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S29.553,37,29,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M8,42H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S8.553,42,8,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M14,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S14.553,42,14,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M19,42h-1c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S19.553,42,19,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M25,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S25.553,42,25,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M28.29,42.29C28.109,42.48,28,42.74,28,43c0,0.26,0.109,0.52,0.29,0.71C28.479,43.89,28.74,44,29,44s0.52-0.11,0.71-0.29
														C29.89,43.52,30,43.26,30,43c0-0.26-0.11-0.52-0.29-0.71C29.33,41.92,28.649,41.92,28.29,42.29z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M48,33c-1.276,0-2.469,0.349-3.5,0.947C43.469,33.349,42.276,33,41,33c-3.859,0-7,3.14-7,7s3.141,7,7,7
														c1.276,0,2.469-0.349,3.5-0.947C45.531,46.651,46.724,47,48,47c3.859,0,7-3.14,7-7S51.859,33,48,33z M46,40
														c0,1.394-0.576,2.654-1.5,3.562C43.576,42.654,43,41.394,43,40s0.576-2.654,1.5-3.562C45.424,37.346,46,38.606,46,40z M36,40
														c0-2.757,2.243-5,5-5c0.631,0,1.23,0.13,1.787,0.345C41.68,36.583,41,38.212,41,40s0.68,3.417,1.787,4.655
														C42.23,44.87,41.631,45,41,45C38.243,45,36,42.757,36,40z M48,45c-0.631,0-1.23-0.13-1.787-0.345C47.32,43.417,48,41.788,48,40
														s-0.68-3.417-1.787-4.655C46.77,35.13,47.369,35,48,35c2.757,0,5,2.243,5,5S50.757,45,48,45z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M8.255,30h6h1.49h6C22.988,30,24,28.988,24,27.745v-8v-1.49C24,17.012,22.988,16,21.745,16h-7.49h-6
														C7.012,16,6,17.012,6,18.255v9.49C6,28.988,7.012,30,8.255,30z M12,24H8v-2h4V24z M8,27.745V26h4v1.745
														c0,0.087,0.016,0.17,0.026,0.255H8.255C8.114,28,8,27.886,8,27.745z M22,24h-4v-1.745C18,22.114,18.114,22,18.255,22h3.49
														c0.087,0,0.17-0.016,0.255-0.026V24z M21.745,28h-3.771C17.984,27.915,18,27.832,18,27.745V26h4v1.745
														C22,27.886,21.886,28,21.745,28z M21.745,18C21.886,18,22,18.114,22,18.255v1.49C22,19.886,21.886,20,21.745,20h-3.49
														C17.012,20,16,21.012,16,22.255v5.49C16,27.886,15.886,28,15.745,28h-1.49C14.114,28,14,27.886,14,27.745v-9.49
														C14,18.114,14.114,18,14.255,18H21.745z M8.255,18h3.771C12.016,18.085,12,18.168,12,18.255V20H8v-1.745
														C8,18.114,8.114,18,8.255,18z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												</g>
											</svg>
										</span>
									</div>
									<div class="input-group">
										<input type="text" class="form-control" v-model="Order.time" :class="{'has-value' : Order.time, focused: Order.time}">
										<label>Время Подачи</label>
										<span class="form-span">
											<svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
												<g>
													<path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
														S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M30,6c-0.552,0-1,0.447-1,1v23H14c-0.552,0-1,0.447-1,1s0.448,1,1,1h16c0.552,0,1-0.447,1-1V7C31,6.447,30.552,6,30,6z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												</g>
											</svg>
										</span>
									</div>
									<div class="input-group">
										<input type="text" class="form-control" v-model="Order.name" :class="{'has-value' : Order.name, focused: Order.name}">
										<label>Укажите ваше Имя</label>
										<span class="form-span">
											<svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 22px; height: 22px;">
												<path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951
												c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319
												c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056
												v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309
												c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043
												C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164
												l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22
												C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021
												C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298
												C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713
												c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776
												C49.513,45.874,51,48.28,51,50.957V54z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											</svg>
										</span>
									</div>
									<div class="input-group">
										<input type="text" class="form-control" v-model="Order.phone" :class="{'has-value' : Order.phone, focused: Order.phone}">
										<label>Ваш номер телефона</label>
										<span class="form-span">
											<svg version="1.2" viewBox="0 0 29.731 29.731" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
												<g>
													<path d="M23.895,29.731c-1.237,0-2.731-0.31-4.374-0.93c-3.602-1.358-7.521-4.042-11.035-7.556
														c-3.515-3.515-6.199-7.435-7.558-11.037C-0.307,6.933-0.31,4.245,0.921,3.015c0.177-0.177,0.357-0.367,0.543-0.563
														c1.123-1.181,2.392-2.51,4.074-2.45C6.697,0.05,7.82,0.77,8.97,2.201c3.398,4.226,1.866,5.732,0.093,7.478l-0.313,0.31
														c-0.29,0.29-0.838,1.633,4.26,6.731c1.664,1.664,3.083,2.882,4.217,3.619c0.714,0.464,1.991,1.166,2.515,0.642l0.315-0.318
														c1.744-1.769,3.25-3.296,7.473,0.099c1.431,1.15,2.15,2.272,2.198,3.433c0.069,1.681-1.27,2.953-2.452,4.075
														c-0.195,0.186-0.385,0.366-0.562,0.542C26.103,29.424,25.126,29.731,23.895,29.731z M5.418,1C4.223,1,3.144,2.136,2.189,3.141
														C1.997,3.343,1.811,3.539,1.628,3.722C0.711,4.638,0.804,7.045,1.864,9.856c1.31,3.472,3.913,7.266,7.33,10.683
														c3.416,3.415,7.208,6.018,10.681,7.327c2.811,1.062,5.218,1.152,6.133,0.237c0.183-0.183,0.379-0.369,0.581-0.56
														c1.027-0.976,2.192-2.082,2.141-3.309c-0.035-0.843-0.649-1.75-1.825-2.695c-3.519-2.83-4.503-1.831-6.135-0.176l-0.32,0.323
														c-0.78,0.781-2.047,0.608-3.767-0.51c-1.193-0.776-2.667-2.038-4.379-3.751c-4.231-4.23-5.584-6.819-4.26-8.146l0.319-0.315
														c1.659-1.632,2.66-2.617-0.171-6.138C7.245,1.651,6.339,1.037,5.496,1.001C5.47,1,5.444,1,5.418,1z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												</g>
											</svg>
										</span>
									</div>
									<div class="input-group">
										<input type="text" class="form-control" v-model="Order.comments" :class="{'has-value' : Order.comments, focused: Order.comments}">
										<label>Комментарий, пожелания</label>
										<span class="form-span">
											<svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
												<g>
													<path d="M10,25.465h13c0.553,0,1-0.448,1-1s-0.447-1-1-1H10c-0.553,0-1,0.448-1,1S9.447,25.465,10,25.465z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M36,29.465H10c-0.553,0-1,0.448-1,1s0.447,1,1,1h26c0.553,0,1-0.448,1-1S36.553,29.465,36,29.465z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M36,35.465H10c-0.553,0-1,0.448-1,1s0.447,1,1,1h26c0.553,0,1-0.448,1-1S36.553,35.465,36,35.465z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
													<path d="M54.072,2.535L19.93,2.465c-3.27,0-5.93,2.66-5.93,5.93v5.124l-8.07,0.017c-3.27,0-5.93,2.66-5.93,5.93v21.141
														c0,3.27,2.66,5.929,5.93,5.929H12v10c0,0.413,0.254,0.784,0.64,0.933c0.117,0.045,0.239,0.067,0.36,0.067
														c0.276,0,0.547-0.115,0.74-0.327l9.704-10.675l16.626-0.068c3.27,0,5.93-2.66,5.93-5.929v-0.113l5.26,5.786
														c0.193,0.212,0.464,0.327,0.74,0.327c0.121,0,0.243-0.022,0.36-0.067c0.386-0.149,0.64-0.52,0.64-0.933v-10h1.07
														c3.27,0,5.93-2.66,5.93-5.929V8.465C60,5.196,57.341,2.536,54.072,2.535z M44,40.536c0,2.167-1.763,3.929-3.934,3.929l-17.07,0.07
														c-0.28,0.001-0.548,0.12-0.736,0.327L14,53.949v-8.414c0-0.552-0.447-1-1-1H5.93c-2.167,0-3.93-1.763-3.93-3.929V19.465
														c0-2.167,1.763-3.93,3.932-3.93l9.068-0.019c0,0,0,0,0,0c0.001,0,0.001,0,0.002,0l25.068-0.052c2.167,0,3.93,1.763,3.93,3.93
														v18.441V40.536z M58,29.606c0,2.167-1.763,3.929-3.93,3.929H52c-0.553,0-1,0.448-1,1v8.414l-5-5.5V19.395
														c0-3.27-2.66-5.93-5.932-5.93L16,13.514v-5.12c0-2.167,1.763-3.93,3.928-3.93l34.141,0.07c0.001,0,0.001,0,0.002,0
														c2.167,0,3.93,1.763,3.93,3.93V29.606z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												</g>
											</svg>
										</span>
									</div>
								</div>
								<div class="input-box">
									<button @click="socket3">Готово</button>
								</div>
							<!-- </form> -->
						</div>
						<div class="second" v-if="second">
							<div class="status" v-if="second">
								<div class="form">
									<div class="input-group">
										<input type="text" class="form-control has-value" value="Запрос Отправлен" disabled/>
										<label>Статус</label>
									</div>
									<div class="input-group">
										<input type="text" class="form-control has-value" placeholder="__тенге за__" v-model="Order.price" :class="{'has-value' : Order.price, focused: Order.price}">
										<label>Цена</label>
									</div>
									<div class="input-box">
										<button class="dbutton" @click="second = false,third = false,fourth = false">Отменить</button>
										<button class="dbutton" @click="third = true">Принять</button>
									</div>
								</div>
							</div>
							<div class="status" v-if="third">
								<div class="form">
									<div class="order-status">
										<div class="order-status-img" style="background: url(https://uc.uxpin.com/files/845614/838895/maxresdefault-6d3720.jpg)">
										</div>
										<div class="order-info">
											<h6>Cтрела</h6>
											<span>Shacman</span>
											<span>Описание: Перевозка материало... </span>
										</div>
									</div>
									<div class="hr"></div>
									<div class="input-box">
										<div class="info-status">
											<span>Статус: работает</span>
											<span>Цена: 5000тг за час</span>
										</div>
										<button class="dbutton" @click="fourth = true">Оплатить</button>
									</div>
								</div>
							</div>
						</div>
						<div class="third" v-if="fourth">
							<h5>Информация о платеже </h5>
							
							<div class="form">
								<div class="input-group">
									<input type="text" class="form-control has-value" value="ул. Мынбаева 28" />
									<label>Адресс</label>
									<span class="form-span">
										<svg version="1.2" viewBox="0 0 51.636 51.636" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
											<path d="M51.353,0.914c-0.295-0.305-0.75-0.39-1.135-0.213L0.583,23.481c-0.399,0.184-0.632,0.605-0.574,1.041
											s0.393,0.782,0.826,0.854l22.263,3.731l2.545,21.038c0.054,0.438,0.389,0.791,0.824,0.865c0.057,0.01,0.113,0.015,0.169,0.015
											c0.375,0,0.726-0.211,0.896-0.556l24-48.415C51.72,1.675,51.648,1.218,51.353,0.914z M27.226,46.582l-2.232-18.457
											c-0.054-0.44-0.391-0.793-0.828-0.866L4.374,23.941L48.485,3.697L27.226,46.582z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
										</svg>
									</span>
								</div>
								<div class="input-group">
									<input type="text" class="form-control has-value" value="5000тг.">
									<label>Цена за 1 час</label>
									<span class="form-span">
										<svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
											<g>
												<path d="M55.783,8H4.217C1.892,8,0,9.892,0,12.217v35.566C0,50.108,1.892,52,4.217,52h51.566C58.108,52,60,50.108,60,47.783V12.217
													C60,9.892,58.108,8,55.783,8z M58,47.783C58,49.005,57.006,50,55.783,50H4.217C2.994,50,2,49.005,2,47.783V12.217
													C2,10.995,2.994,10,4.217,10h51.566C57.006,10,58,10.995,58,12.217V47.783z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												<path d="M16,37H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S16.553,37,16,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												<path d="M29,37h-9c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S29.553,37,29,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												<path d="M8,42H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S8.553,42,8,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												<path d="M14,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S14.553,42,14,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												<path d="M19,42h-1c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S19.553,42,19,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												<path d="M25,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S25.553,42,25,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												<path d="M28.29,42.29C28.109,42.48,28,42.74,28,43c0,0.26,0.109,0.52,0.29,0.71C28.479,43.89,28.74,44,29,44s0.52-0.11,0.71-0.29
													C29.89,43.52,30,43.26,30,43c0-0.26-0.11-0.52-0.29-0.71C29.33,41.92,28.649,41.92,28.29,42.29z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												<path d="M48,33c-1.276,0-2.469,0.349-3.5,0.947C43.469,33.349,42.276,33,41,33c-3.859,0-7,3.14-7,7s3.141,7,7,7
													c1.276,0,2.469-0.349,3.5-0.947C45.531,46.651,46.724,47,48,47c3.859,0,7-3.14,7-7S51.859,33,48,33z M46,40
													c0,1.394-0.576,2.654-1.5,3.562C43.576,42.654,43,41.394,43,40s0.576-2.654,1.5-3.562C45.424,37.346,46,38.606,46,40z M36,40
													c0-2.757,2.243-5,5-5c0.631,0,1.23,0.13,1.787,0.345C41.68,36.583,41,38.212,41,40s0.68,3.417,1.787,4.655
													C42.23,44.87,41.631,45,41,45C38.243,45,36,42.757,36,40z M48,45c-0.631,0-1.23-0.13-1.787-0.345C47.32,43.417,48,41.788,48,40
													s-0.68-3.417-1.787-4.655C46.77,35.13,47.369,35,48,35c2.757,0,5,2.243,5,5S50.757,45,48,45z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												<path d="M8.255,30h6h1.49h6C22.988,30,24,28.988,24,27.745v-8v-1.49C24,17.012,22.988,16,21.745,16h-7.49h-6
													C7.012,16,6,17.012,6,18.255v9.49C6,28.988,7.012,30,8.255,30z M12,24H8v-2h4V24z M8,27.745V26h4v1.745
													c0,0.087,0.016,0.17,0.026,0.255H8.255C8.114,28,8,27.886,8,27.745z M22,24h-4v-1.745C18,22.114,18.114,22,18.255,22h3.49
													c0.087,0,0.17-0.016,0.255-0.026V24z M21.745,28h-3.771C17.984,27.915,18,27.832,18,27.745V26h4v1.745
													C22,27.886,21.886,28,21.745,28z M21.745,18C21.886,18,22,18.114,22,18.255v1.49C22,19.886,21.886,20,21.745,20h-3.49
													C17.012,20,16,21.012,16,22.255v5.49C16,27.886,15.886,28,15.745,28h-1.49C14.114,28,14,27.886,14,27.745v-9.49
													C14,18.114,14.114,18,14.255,18H21.745z M8.255,18h3.771C12.016,18.085,12,18.168,12,18.255V20H8v-1.745
													C8,18.114,8.114,18,8.255,18z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											</g>
										</svg>
									</span>
								</div>
								<div class="input-group">
									<input type="text" class="form-control has-value" value="15км."/>
									<label>Пройденная дистанция</label>
									<span class="form-span">
										<svg version="1.2" viewBox="0 0 512 512" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
											<g>
												<g>
													<g>
														<path d="M85.333,341.333c-11.76,0-21.333,9.573-21.333,21.333S73.573,384,85.333,384c11.76,0,21.333-9.573,21.333-21.333
															S97.094,341.333,85.333,341.333z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
														<path d="M192,64c-11.76,0-21.333,9.573-21.333,21.333c0,11.76,9.573,21.333,21.333,21.333s21.333-9.573,21.333-21.333
															C213.333,73.573,203.76,64,192,64z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
														<path d="M426.667,106.667c-47.052,0-85.333,38.281-85.333,85.333c0,31.796,36.642,88.85,59.561,121.451
															c-1.374,1.042-2.591,2.301-3.353,3.977c-2.313,5.073-0.313,11.01,4.448,13.698c-4.656,2.865-6.438,8.865-3.948,13.854
															c1.875,3.74,5.635,5.896,9.552,5.896c1.604,0,3.229-0.365,4.76-1.125l19.033-9.517l0.005-0.001l0.046-0.023
															c0.061-0.031,0.085-0.103,0.146-0.135c1.358-0.71,2.594-1.667,3.552-2.917C443,326.885,512,235.594,512,192
															C512,144.948,473.719,106.667,426.667,106.667z M426.667,312.813c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64
															s64,28.708,64,64C490.667,219.156,450.115,280.552,426.667,312.813z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
														<path d="M426.667,170.667c-11.76,0-21.333,9.573-21.333,21.333s9.573,21.333,21.333,21.333S448,203.76,448,192
															S438.427,170.667,426.667,170.667z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
														<path d="M111.383,483.719c22.936-32.664,59.284-89.383,59.284-121.052c0-47.052-38.281-85.333-85.333-85.333
															C38.281,277.333,0,315.615,0,362.667c0,43.594,69,134.885,76.865,145.156c0.568,0.741,1.384,1.172,2.107,1.73
															c0.435,0.335,0.758,0.75,1.234,1.013c1.565,0.871,3.286,1.434,5.128,1.434l0.005-0.001L85.344,512
															c0.245,0,0.48-0.155,0.725-0.172c1.398-0.102,2.78-0.336,4.01-0.947c0.008-0.004,0.017-0.003,0.025-0.007l19.083-9.542
															c5.271-2.635,7.406-9.042,4.771-14.313C113.307,485.716,112.419,484.613,111.383,483.719z M85.333,483.479
															c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64c35.292,0,64,28.708,64,64
															C149.333,389.823,108.781,451.219,85.333,483.479z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
														<path d="M369.135,347.5l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
															c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
															C380.813,347.01,374.396,344.896,369.135,347.5z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
														<path d="M167.021,448.563l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
															c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
															C178.688,448.063,172.281,445.958,167.021,448.563z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
														<path d="M301.76,381.188l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
															c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
															C313.427,380.688,307.031,378.563,301.76,381.188z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
														<path d="M234.385,414.875l-33.677,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
															c1.604,0,3.229-0.365,4.76-1.125l33.677-16.844c5.271-2.635,7.406-9.042,4.771-14.313
															C246.052,414.375,239.635,412.26,234.385,414.875z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
														<path d="M240.885,246.219c-2.438,5.365-0.073,11.688,5.292,14.125l39.156,17.802c1.438,0.656,2.938,0.958,4.406,0.958
															c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.156-17.802
															C249.615,238.458,243.302,240.875,240.885,246.219z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
														<path d="M368.073,314.708c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.167-17.802
															c-5.427-2.458-11.698-0.052-14.125,5.292c-2.438,5.365-0.073,11.688,5.292,14.125l39.167,17.802
															C365.104,314.406,366.604,314.708,368.073,314.708z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
														<path d="M211.406,243.49c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.063-11.688-5.292-14.125l-7.367-3.348
															c20.206-27.582,68.867-97.78,68.867-134.434C277.333,38.281,239.052,0,192,0s-85.333,38.281-85.333,85.333
															c0,43.594,69,134.885,76.865,145.156c0.092,0.121,0.246,0.167,0.344,0.283c0.708,0.854,1.612,1.516,2.59,2.128
															c0.345,0.215,0.607,0.53,0.974,0.704c0.056,0.026,0.089,0.078,0.145,0.104L207,242.531
															C208.438,243.188,209.938,243.49,211.406,243.49z M128,85.333c0-35.292,28.708-64,64-64s64,28.708,64,64
															c0,27.156-40.552,88.552-64,120.813C168.552,173.885,128,112.49,128,85.333z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
													</g>
												</g>
											</g>
										</svg>
									</span>
								</div>
								<div class="input-group">
									<input type="text" class="form-control has-value" value="2 часа" />
									<label>Время Работы</label>
									<span class="form-span">
										<svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
											<g>
												<path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
													S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
												<path d="M30,6c-0.552,0-1,0.447-1,1v23H14c-0.552,0-1,0.447-1,1s0.448,1,1,1h16c0.552,0,1-0.447,1-1V7C31,6.447,30.552,6,30,6z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
											</g>
										</svg>
									</span>
								</div>
							</div>
							<h5>Итого: 10 000тг.</h5>
							<div class="input-box">
								<button class="dbutton">Оплатить</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
	/* eslint-disable */
	export default {
		data(){
			return{
				Spec: true,
		      	spec_tech:[
					{
						id: 35,
						visible: false,
						position: {
							lat: 42.249981, 
            				lng: 76.919435,
						},
						icon:{
				      		url: 'https://thumb.ibb.co/ksxXEf/map-marker.png',
				            scaledSize: { width: 32, height: 32},
				            anchor: { x: 16, y: 16 },
						},
						info:{
							title: 'marker_1',
							driverAvatar: '',
							driverName: 'Володя Машина',
							driverStatus: 'Доступен',
							orderAvatar: 'https://uc.uxpin.com/files/845614/838895/maxresdefault-6d3720.jpg',
							vehicleName: 'Стрела',
							vehicleDesc: 'Lorem ipsum dolor sit '
						}
					}
				],
		        first: true,
		        second: false,
		        third: false,
		        fourth: false,
		        Order: {
		        	address: '',
		        	nds: 0,
		        	time: '',
		        	name: '',
		        	phone: '',
		        	comments: '',
		        	price: 6464,
		        	tech_id: 1,
		        	transport_id: 1,
		        	compute_id: 1
		        },
		        User: {
		        	token: 'hVMhfEOI1AK7IWIbhAsGyIgvk1uuse',
		        	lat: 0,
		        	lng: 0,
		        	id: 939251694
		        },
		      	socketMessage: '',
		      	currentCity: 'geopositions_1'
			}
		},
		sockets:{
		},
		methods:{
	        show: function(e){
	            e.preventDefault();
	        },
	        socket_connect: function(){
	        	let socket = this.$socket
				let $sockets = this.$options.sockets
				socket.emit('system', JSON.stringify({token: this.User.token}))
				$sockets['system'] = (data) => {
					let res = JSON.parse(data)
					console.log(res)
					if (res.statusCode == 200) {
						// alert('success')
					}else if(res.statusCode == 404){
						alert('Пользователь не существует')
					}
				}
	        },
	        socket_geo: function(){
	        	this.$socket.emit('geo', JSON.stringify({lng: this.User.lng, lat: this.User.lat, token: this.User.token}))
				this.$options.sockets['geo'] = (data) => {
					let res = JSON.parse(data)
					if (res.statusCode == 200) {
						// alert('success')
					}else if(res.statusCode == 404){
						alert('prohibited')
					}
				}
	        },
	        socket1: function(){
	        	this.$socket.emit('tech_order_1', JSON.stringify({
	        		client_id: this.User.id,
	        		address: this.Order.address,
	        		lng: this.User.lng, 
	        		lat: this.User.lat,
	        		tech_id: this.Order.tech_id,
	        		transport_id: this.Order.transport_id,
	        		compute_id: this.Order.compute_id,
	        		commission_id: this.Order.nds,
	        		price: this.Order.price,
	        		comment: this.Order.comments,
	        		step: 1
	        	}))
	        	this.$options.sockets['tech_order_1'] = (data) => {
					let res = JSON.parse(data)
					console.log(res)
					if (res.statusCode == 200) {
						// alert('success')
					}else if(res.statusCode == 404){
						alert('prohibited')
					}
				}
	        },
	        socket2: function(){
	        	this.$socket.emit('tech_order_2' , JSON.stringify({
	        		id: 1,
	        		driver_id: this.User.id,
	        		step: 2
	        	}))
	        	this.$options.sockets['tech_order_2'] = (data) => {
	        		let res = JSON.parse(data)
	        		console.log(res)
	        	}
	        },
	        socket3: function(){
	        	this.$socket.emit('tech_order_3', JSON.stringify({
	        		client_id: this.User.id,
	        		address: this.Order.address,
	        		lng: this.User.lng, 
	        		lat: this.User.lat,
	        		tech_id: this.Order.tech_id,
	        		transport_id: this.Order.transport_id,
	        		compute_id: this.Order.compute_id,
	        		commission_id: this.Order.nds,
	        		price: this.Order.price,
	        		comment: this.Order.comments,
	        		step: 1
	        	}))
	        	this.$options.sockets['tech_order_3'] = (data) => {
					let res = JSON.parse(data)
					console.log(res)
					if (res.statusCode == 200) {
						// alert('success')
					}else if(res.statusCode == 404){
						alert('prohibited')
					}
				}
	        },
	        socket4: function(){
	        	this.$socket.emit('tech_order_4', JSON.stringify({
	        		client_id: this.User.id,
	        		driver_id: this.User.id,
	        		id: this.User.id,
	        		step:4
	        	}))
	        	this.$options.sockets['tech_order_4'] = (data) => {
					let res = JSON.parse(data)
					console.log(res)
					if (res.statusCode == 200) {
						// alert('success')
					}else if(res.statusCode == 404){
						alert('prohibited')
					}
				}
	        },
				   //      socket5: function(){
				   //      	this.$socket.emit('tech_order_5', JSON.stringify({
				   //      		client_id: this.User.id,
				   //      		driver_id: this.Order.id,
				   //      		id: this.User,
				   //      		step:5
				   //      	}))
				   //      	this.$options.sockets['tech_order_5'] = (data) => {
							// 	let res = JSON.parse(data)
							// 	console.log(res)
							// 	if (res.statusCode == 200) {
							// 		// alert('success')
							// 	}else if(res.statusCode == 404){
							// 		alert('prohibited')
							// 	}
							// }
				   //      }
				   //      socket6: function(){
				   //      	this.$socket.emit('tech_order_6', JSON.stringify({
				   //      		id: ,
				   //      		price: ,
				   //      		step:6
				   //      	}))
				   //      	this.$options.sockets['tech_order_6'] = (data) => {
							// 	let res = JSON.parse(data)
							// 	console.log(res)
							// 	if (res.statusCode == 200) {
							// 		// alert('success')
							// 	}else if(res.statusCode == 404){
							// 		alert('prohibited')
							// 	}
							// }
				   //      },
				   //      socket7: function(){
				   //      	this.$socket.emit('tech_order_7', JSON.stringify({
				   //      		id: ,
				   //      		distance_traveled: ,
				   //      		step:4
				   //      	}))
				   //      	this.$options.sockets['tech_order_7'] = (data) => {
							// 	let res = JSON.parse(data)
							// 	console.log(res)
							// 	if (res.statusCode == 200) {
							// 		// alert('success')
							// 	}else if(res.statusCode == 404){
							// 		alert('prohibited')
							// 	}
							// }
				   //      },
				   //      socket8: function(){
				   //      	this.$socket.emit('tech_order_8', JSON.stringify({
				   //      		id: ,
				   //      		compute_id: ,
				   //      		step: 8
				   //      	}))
				   //      	this.$options.sockets['tech_order_8'] = (data) => {
							// 	let res = JSON.parse(data)
							// 	console.log(res)
							// 	if (res.statusCode == 200) {
							// 		// alert('success')
							// 	}else if(res.statusCode == 404){
							// 		alert('prohibited')
							// 	}
							// }
				   //      },
				   //      socket9: function(){
				   //      	this.$socket.emit('tech_order_9', JSON.stringify({
				   //      		client_id: 
				   //      	}))
				   //      	this.$options.sockets['tech_order_9'] = (data) => {
							// 	let res = JSON.parse(data)
							// 	console.log(res)
							// 	if (res.statusCode == 200) {
							// 		// alert('success')
							// 	}else if(res.statusCode == 404){
							// 		alert('prohibited')
							// 	}
							// }
				   //      },
				   //      socket10: function(){
				   //      	this.$socket.emit('tech_order_10', JSON.stringify({
				   //      		driver_id: 
				   //      	}))
				   //      	this.$options.sockets['tech_order_10'] = (data) => {
							// 	let res = JSON.parse(data)
							// 	console.log(res)
							// 	if (res.statusCode == 200) {
							// 		// alert('success')
							// 	}else if(res.statusCode == 404){
							// 		alert('prohibited')
							// 	}
							// }
				   //      },
				   //      socket11: function(){
				   //      	this.$socket.emit('tech_order_11', JSON.stringify({
				   //      		id: ,
				   //      		step: 11
				   //      	}))
				   //      	this.$options.sockets['tech_order_11'] = (data) => {
							// 	let res = JSON.parse(data)
							// 	console.log(res)
							// 	if (res.statusCode == 200) {
							// 		// alert('success')
							// 	}else if(res.statusCode == 404){
							// 		alert('prohibited')
							// 	}
							// }
				   //      },
				   //      socket12: function(){
				   //      	this.$socket.emit('tech_order_12', JSON.stringify({
				   //              driver_id: ,
				   //              id: ,
				   //              step: 12
				   //      	}))
				   //      	this.$options.sockets['tech_order_12'] = (data) => {
							// 	let res = JSON.parse(data)
							// 	console.log(res)
							// 	if (res.statusCode == 200) {
							// 		// alert('success')
							// 	}else if(res.statusCode == 404){
							// 		alert('prohibited')
							// 	}
							// }
				   //      },
				   //      socket13: function(){
				   //      	this.$socket.emit('tech_order_13', JSON.stringify({
				   //      		id: ,
				   //      		driver_id: ,
				   //      		step: 13
				   //      	}))
				   //      	this.$options.sockets['tech_order_13'] = (data) => {
							// 	let res = JSON.parse(data)
							// 	console.log(res)
							// 	if (res.statusCode == 200) {
							// 		// alert('success')
							// 	}else if(res.statusCode == 404){
							// 		alert('prohibited')
							// 	}
							// }
				   //      }
	    },
		mounted(){
			this.socket_connect()
			this.socket1()
			if (localStorage.User_Cear!=null) {
				var User_Cear = JSON.parse(localStorage.User_Cear)
				this.User.lat = User_Cear.lat
				this.User.lng = User_Cear.lng
			}
			if (localStorage.Order_Cear!=null) {
				var Order_Cear = JSON.parse(localStorage.Order_Cear)
			}


		}
	}
</script>
<style lang="css">
	@import '../css/style.css';
	@import '../css/media.css';
	@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css';
</style>
