@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Asap');
/*:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i*/
body, span, ol, ul, li, form{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	/*overflow: hidden;*/
	font-family: 'Roboto', sans-serif;
}
 ol, ul , li{
 	list-style: none;
 	padding: 0;
 	margin: 0;
}
button:focus,
input:focus,
input:active{
 	outline: 0;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
}
a:hover{
	text-decoration: none !important;
	color: #1C4FC4 !important;
}
.map {
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}
.padding0{
	padding: 0 !important;
}
.margin0{
	margin: 0 !important;
}
.background{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}
.row-flex{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
}
.column-start-flex{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
/*HEADER*/
	header{
		position: relative;
		width: 100%;
		z-index: 3;
	}
	header .container-fluid{
		padding: 0 25px;
	}
	header .container-fluid .row.col-md-12{
		padding: 0;
		/*background-color: #FAD220;*/
		align-items: flex-start !important;
	}
	header .container-fluid .col-md-12 .col-md-9{
		background-color: #FAD220;
		padding: 5px 24px 5px 12px ;
		border-bottom-left-radius: 10px;	
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	header .container-fluid .col-md-12 .col-md-9 a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	header .container-fluid .col-md-12 .col-md-9 a span{
		font-size: 12px;
		font-family: "Roboto";
		color: #1C4FC4;
		margin-top: 2px;
	}
	header .container-fluid .col-md-12 .col-md-3{
		background-color: #FAD220;
		padding: 10px 15px 9px 12px ;
		height: 65px;
		border-bottom-right-radius: 10px;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		-webkit-transition:all .5s ease;
		-moz-transition:all .5s ease;
		-ms-transition:all .5s ease;
		-o-transition:all .5s ease;
		transition:all .5s ease;   
	}
	header .container-fluid .col-md-12 .big{
		align-items: flex-start !important;
		height: 465px !important;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		box-shadow: 0 -4px 8px 0 rgba(0,0,0,0.2);
		overflow-y: auto;
	}
	header .container-fluid .col-md-12 .big::-webkit-scrollbar-track{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: rgb(0, 0, 0, 0.2);
	}
	header .container-fluid .col-md-12 .big::-webkit-scrollbar{
		position: absolute;
		right: 0;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: rgb(0, 0, 0, 0.2);
	}
	header .container-fluid .col-md-12 .big::-webkit-scrollbar-thumb{
		border-radius: 5px;
		background-color: #000;
	}
	header .container-fluid .col-md-12 .big span.bighr{
		position: absolute;
		top: 62px;
		content: '';
		width: 90%;
		border-bottom: 3px solid #000000;
		opacity: .2;
		cursor: pointer;
	}
	header .container-fluid .col-md-12 .big .orders{
		position: absolute;
		top: 75px;
		width: 90%;
	}
	header .container-fluid .col-md-12 .order-form{
		top: 60px;
		right: 0;
		position: absolute;
		z-index: 3;
		background-color: #fff;
		height: 405px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	header .container-fluid .col-md-12 .order-form a.close{
		position: absolute;
		right: 5px;
		top: 5px;
		cursor: pointer;	
	}
	header .container-fluid .col-md-12 .order-form .form{
		padding: 0 20px;
	}
	header .container-fluid .col-md-12 .order-form .title{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px 0;
	}
	header .container-fluid .col-md-12 .order-form .title h5{
		font-size: 17px;
		font-weight: 500;
		color: #000;
	}
	header .container-fluid .col-md-12 .order-form .title hr{
		margin: 6px 0 0 0;
		width: 100%;
		border-top: 3px solid #EBEBEB;
	}
	header .container-fluid .col-md-12 .order-form .input-box{
		display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: space-between;
	}
	header .container-fluid .col-md-12 .order-form .input-box .dbutton{
		width:48%;
	}
	header .container-fluid .col-md-12 .big .orders .div-order{
		background-color: #fff;
		border-radius: 5px;
		width: 100%;
		padding: 10px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
	}
	header .container-fluid .col-md-12 .big .orders .div-order:hover{
		cursor: pointer;
	}
	header .container-fluid .col-md-12 .big .orders .div-order .order-img{
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center !important;
		width: 90px;
		height: 67px;
		border-radius: 5px;
	}
	header .container-fluid .col-md-12 .big .orders .div-order .order-info,
	.row .status .order-info{
		display: flex;
		flex-direction: column;
		padding: 0 10px;
	}
	header .container-fluid .col-md-12 .big .orders .div-order .order-info h6,
	.row .status .order-info h6{
		font-size: 17px;
		line-height: 25px;
		color: #000;
		font-weight: 500;
	}
	header .container-fluid .col-md-12 .big .orders .div-order .order-info span,
	.row .status .order-info span{
		font-size: 12px;
		color: #000;
		font-weight: 500;
	}
	header .container-fluid .col-md-12 .col-md-3 span.title{
		font-size: 12px;
		font-weight: 500;
		color: #000;
		line-height: 15px;
		cursor: pointer;
	}
	header .container-fluid .col-md-12 .col-md-3 span.title p{
		font-size: 20px;
	}
	header .container-fluid .col-md-12 .col-md-3 strong{
		cursor: pointer;
		font-size: 44px;
		color: #000;
		font-weight: 700;
		line-height: 44px;
	}
	header .container-fluid .col-md-12 .col-md-3 strong:after{
		content: '.';
		position: absolute;
		top: -22px;
		right: 3px;
		color: #F51D00;
		font-size: 60px;
	}
	header .container-fluid .col-md-12 .col-md-3 span.dropdown{
		content: '';
		width: 36px;
		position: absolute;
		bottom: 12px;
		left: 46%;
		border-bottom: 3px solid #000000;
		opacity: .2;
	}
	header .container-fluid .col-md-12 .col-md-3 span.dropdown:hover{
		cursor: pointer;
	}
	header .container-fluid .profile{
		opacity: 0;
		z-index: 0;
		position: absolute;
		top: 62px;
		background-color: #fff;
		padding: 36px 20px;
		height: 381px;
		width: 0;
		margin-left: -14px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	header .container-fluid .opacity{
		width: 331px;
		z-index: 11 !important;
		opacity: 1;
		-webkit-transition:all .5s ease;
		-moz-transition:all .5s ease;
		-ms-transition:all .5s ease;
		-o-transition:all .5s ease;
		transition:all .5s ease;    
	}
	header .container-fluid .profile .info{
		display: flex;
		flex-direction: row;
	}
	header .container-fluid .profile .info .avatar{
		background-color: #EBEBEB !important;
		width: 75px;
		height: 72px;
		border-radius: 10px;
	}
	header .container-fluid .profile .fio{
		padding: 7px 10px;
	}
	header .container-fluid .profile .fio h6{
		font-size: 17px;
		color: #000;
		font-weight: 500;
	}
	header .container-fluid .profile .fio span{
		font-size: 13px;
		color: #000;
		font-weight: 500;
	}
	header .container-fluid .profile hr {
	    margin-top: 1.5rem;
	    margin-bottom: 1.5rem;
	    border: 0;
	    border-top: 1px solid rgba(0,0,0,.2);
	}
	header .container-fluid .profile .actions ul a{
		display: flex;
		flex-direction: row;
		margin-bottom: 8px;
	}
	header .container-fluid .profile .actions ul a span{
		width: 40px;
	}
	header .container-fluid .profile .actions ul a li{
		font-size: 17px;
		color: #000;
		font-weight: 500;
	}
	header .container-fluid .profile .mode h6{
		color: #000;
		font-size: 17px;
		font-weight: 500;
		text-align: center;
	}
	header .container-fluid .profile .mode .buttons{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 0;
	}
	header .container-fluid .profile .mode .buttons button{
		font-size: 13px;
		color: #000000;
		font-weight: 500;
		background-color: #fff;
		border: 0;
		height: 45px;
		padding: 0 26px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	}
	header .container-fluid .profile .mode .buttons button:hover{
		cursor: pointer;
	}
	header .container-fluid .profile .mode .buttons button.order{
		border-bottom-left-radius: 20px;
		border-top-left-radius: 20px;
		margin-right: 10px;
	}
	header .container-fluid .profile .mode .buttons button.driver{
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
	}
	header .container-fluid .profile .mode .buttons .active{
		background-color: #FAD220 !important;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2) !important;
	}
	.header2{
		background-color: #FAD220;
		height: 87px;
		box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
	}
	.header2 .container-fluid{
		height: 100%;
		padding: 0 10px;
	}
	.header2 .container-fluid .row.col-lg-12{
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9{
		height: 100%;
		align-items: center;
	}
	.header2 .container-fluid .row.col-lg-12 .col-md-3{
		align-items: center;
		height: 87px;
	}
	.header2 .container-fluid .row.col-lg-12 .col-md-3.order-form{
		align-items: center;
		height: auto;
		right: 15px;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 .col-md-3 h2,
	h2.bluetitle{
		font-size: 40px;
		font-weight: 700;
		font-family: 'Asap', sans-serif;
		color: #1C4FC4;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 .col-md-3.logo{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 label{
		display: flex;
		align-items: center;
		justify-content: center;
		color: #000;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 label:hover{
		cursor: pointer;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 label svg{
		margin-left: 5px;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 .dropdownmenu{
		font-size: 15px;
		color: #000;
		font-weight: 400;
		background-color: #fff;
		position: absolute;
		top:87px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px 0;
		width: 135px;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 .dropdownmenu a{
		color: #000;
		font-size: 14px;
		font-weight: 600;
		line-height: 25px;
		display: inline-block;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 .col-md-2{
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 .dropdownmenu a:hover{
		color: #1C4FC4;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 div.avatar{
		width:60px;
		height:60px;
		border-radius: 10px;
		background-color: #EBEBEB;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		background-size: cover !important;
		background-position: center !important;
		background-repeat: no-repeat !important;

	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 .search-box{
		width: 100%;
		background-color: #fff;
		border-radius: 10px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 input[type='text']{
		background-color: transparent;
		margin: 0;
		text-align: center;
		width: 100%;
		color: #000;
		font-size: 16px;
		border: 0;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 input[type='text']::placeholder{
		color: #00000030;
		font-size: 16px;
	}
	.header2 .container-fluid .row.col-lg-12 .row.col-lg-9 button{
		background-color: transparent;
		border:0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
/*END OF HEADER*/

/*LEFTSIDE*/
	.leftside{
		position: absolute;
		left: 0;
		background-color: #FAD220;
		width: 100px;
		z-index: 2;
		height: 700px;
	}
	.leftside .leftbar{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100px;
		overflow-y: auto;
	}
	.leftside .leftbar a{
		display: block;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #000;
		font-size: 12px;
		font-weight: 400;
		width: 100%;
		text-align: center;
		hyphens: auto;
	}
	.leftside .leftbar a span{
		max-height: 52px;
		max-width: 60px;
	}
	.leftside .leftbar a span svg{
		max-height: 60px;
		max-width: 60px;
	}
	.leftside .leftbar a span svg *{
		fill: #000 !important;
	}
	.leftside .leftbar a:hover,
	.leftside .leftbar a.active{
		cursor: pointer;
		color: rgb(28, 79, 196);
	}
	.leftside .leftbar a:hover span svg *,
	.leftside .leftbar a.active span svg *{
		fill: rgb(28, 79, 196) !important;
	}
/*END OF LEFTSIDE*/

/*HOME TECHNIKS*/
	.home-tech{
		margin-left: 100px;
	}
	.home-tech .container .row .pages{
		height: auto;
		padding: 40px 0 0 0;
	}
	.home-tech .container .row .pages ul{
		width:100%;
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: center;
	}
	.home-tech .container .row .pages ul a,
	a.view-map{
		text-align: center;
		width:138px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 17px;
		margin-right: 10px;
		color: #1C4FC4;
		font-weight: 400;
	}
	a.view-map{
		position: fixed;
		right: 0;
		top: 95px;
	}
	.home-tech .container .row .pages ul a span,
	a.view-map span{
		width: 60px;
		height: 60px;
	}
	.home-tech .container .row h2{
		font-size: 26px;
		font-family: 'Arial', sans-serif;
		margin: 8px 15px;
		text-transform: uppercase;
	}
	.home-tech .container .row span a{
		font-size: 14px;
		color:#000;
		font-family: 'Roboto', sans-serif;
	}
	.home-tech .container .row div.divhr{
		border-radius: 10px;
		height: 7px;
		width: 100%;
		max-width: 1085px;
		background-color: #EBEBEB;
	}
	.home-tech .container .row .vehicles{
		padding: 40px 0;
		/*display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;*/
	}
	.home-tech .container .row .vehicles .col-md-3{
		padding: 0;
		margin-bottom: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.home-tech .container .row .vehicles .col-md-3 .vehicle{
		width: 243px;
		border-radius: 10px;
		height: 350px;
		background-color: #EBEBEB;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		padding-bottom: 25px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	}
	.home-tech .container .row .vehicles .col-md-3 .vehicle .vehicle-bg{
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center !important;
		width: 100%;
		height: 155px;
		border-radius: 10px 10px 0 0;
	}
	.home-tech .container .row .vehicles .col-md-3 .vehicle h4{
		font-size: 23px;
		color: #000;
		font-family: 'Arial', sans-serif;
	}
	.home-tech .container .row .vehicles .col-md-3 .vehicle p{
		font-size: 15px;
		margin: 0 15px;
		line-height: 17px;
		color: #000;
		font-family: 'Arial', sans-serif;
	}
	.home-tech .container .row .col-md-1.call{
		position: fixed;
		right: 5px;
		bottom:20px;
		z-index: 3;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.home-tech .container .row .col-md-1.call a{
		text-align: center;
		color: #1C4FC4;
		font-size: 17px;
		line-height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.home-tech .container .row .col-md-1.call a:nth-child(1){
		margin-bottom: 10px;
	}
	.home-tech .container .row .col-md-1.call a span{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}
	.home-tech .container .row .col-md-1.call a:nth-child(1) span{
		background-color: #FAD220;
	}
	.home-tech .container .row .col-md-1.call a:nth-child(2) span{
		background-color: #4ED866;
	}
/*END OF HOME TECHNIKS*/

/*VEHICLE*/
	.section-vehicle{
		padding: 20px 0;
	}
	.section-vehicle .container .row span.tree{
		margin: 0 0 15px 15px;
	}
	.section-vehicle .container .row.col-md-11.padding0{
	    flex: 0 0 95.264%;
    	max-width: 95.264%;
	}
	.section-vehicle .container .row .list-vehicles{
		flex: 0 0 69.246%;
		max-width: 69.246%;
		padding: 20px 9px 20px 0;
	}
	.section-vehicle .container .row .list-vehicles .big-vehicle{
		margin-bottom: 10px;
		width:100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height:156px;
		border-radius: 10px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		background-color: #fff;
	}
	.section-vehicle .container .row .list-vehicles .big-vehicle .bg-vehicle{
		width:32.7%;
		height:100%;
		border-radius: 10px 0 0 10px;
		background-color: #EBEBEB;
		background-size: cover !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	.section-vehicle .container .row .list-vehicles .big-vehicle .bg-vehicle span{
		display: inline-block;
		padding: 0 12.5px;
		font-size: 20px;
		line-height: 30px;
		opacity: 0.4;
		background-color: rgb(200,200,200);
		color: rgb(0,0,0);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	}
	.section-vehicle .container .row .list-vehicles .big-vehicle .text-vehicle{
		width: 67.3%;
		height:100%;
		padding: 14px 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.section-vehicle .container .row .list-vehicles .big-vehicle .text-vehicle h5,
	.title-rating h5{
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 24px;
		font-family: 'Roboto', sans-serif;
	}
	.title-rating{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.title-rating div{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.title-rating span{
		font-size: 15px;
		line-height: 18px;
		margin-left: -60px;
	}
	.section-vehicle .container .row .list-vehicles .big-vehicle .text-vehicle h6,
	.title-rating h6{
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		font-family: 'Roboto', sans-serif;
	}
	.section-vehicle .container .row .list-vehicles .big-vehicle .text-vehicle p{
		font-size: 12px;
		line-height: 14px;	
		font-family: 'Roboto', sans-serif;
		margin: 0;
	}
	.stars {
		margin-left: 8px;
		display:inline-block;
		width:auto;
		position:relative;
		font-size:20px;
	}
	.stars:BEFORE {
		content:"★★★★★";
		position:absolute;
		overflow:hidden;
		z-index:1;
		left:0px;
		top:0px;
		color:#FAD220;
	}
	.stars:AFTER {
		content:"★★★★★";
		position:relative;
		color:#D9D9D9;
	}
	.stars.rate:AFTER {
		position:absolute;
		left:0px;
	}
	.stars.rate a {
		color:transparent;
		text-decoration:none;
		position:relative;
		z-index:2;
	}
	.stars.rate:HOVER:BEFORE,
	.stars.rate:HOVER:AFTER {
		display:none;
	}
	.stars.rate:HOVER a {
		color:#FAD220;
	}
  .stars.rate:HOVER a:HOVER {
		color:#FAD220 !important;
	}
	.stars.rate a:HOVER ~ a {
		color:#D9D9D9;
	}
	.stars:NOT([data-percent]):BEFORE,
	.stars[data-percent="0"]:BEFORE {
		display:none;
	}

	.section-vehicle .container .row .col-md-3{
		flex: 0 0 30.754%;
		max-width: 30.754%;
		padding: 20px 14px;
	}
	.section-vehicle .container .row .col-md-3 .special-offers{
		width:100%;
	}
	.section-vehicle .container .row .col-md-3 .special-offers h5{
		font-size: 25px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 10px;
	}
	.section-vehicle .container .row .col-md-3 .special-offers .offer{
		margin-bottom: 10px;
		width:100%;
		display: flex;
		align-items: center;
		justify-content: center;
		height:64px;
		border-radius: 10px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		background-color: #fff;
	}
	.section-vehicle .container .row .col-md-3 .special-offers .offer .bg-offer{
		width:104px;
		height:64px;
		border-radius: 10px 0 0 10px;
		background-color: #EBEBEB;
		background-size: cover !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
	.section-vehicle .container .row .col-md-3 .special-offers .offer .text-offer{
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: center;
	}
	.section-vehicle .container .row .col-md-3 .special-offers .offer .text-offer label{
		margin: 0 0 0 4px;
		line-height: 18px;
		font-size: 15px;
		font-weight: 600;
		font-family: 'Roboto', sans-serif;
	}
	.section-vehicle .container .row .col-md-3 .special-offers .offer .text-offer label:nth-child(2){
		margin-left: 5px;
	}
	.section-vehicle .container .row .col-md-3 .special-offers .offer .text-offer span{
		margin-left: 8px;
		font-size: 12px;
		line-height: 14px;
		font-family: 'Roboto', sans-serif;
	}
	.section-vehicle .container .row .col-md-3 .special-form{
		width: 100%;
		background-color: #FAD220;
		border-radius: 10px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		height:475px;
		padding:13px 14px;
		margin-top: 15px;
	}
	.section-vehicle .container .row .col-md-3 .special-form .form{
		background-color: #fff;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0 40px;
	}
	.section-vehicle .container .row .col-md-3 .special-form .form h5{
		font-weight: 600;
		color: #000;
	}
	.section-vehicle .container .row .col-md-3 .special-form .form .input-box{
		width:90%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.section-vehicle .container .row .col-md-3 .special-form .form .input-box button{
		width: 117px;
		font-size: 12px;
		font-weight: 600;
	}
	.section-vehicle .container .row .col-md-3 .special-form .form .special-last{
		width:100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
/*END OF VEHICLE*/

/*VIEW VEHICLE*/
	.view-vehicle{
		padding: 20px 0;
	}
	.view-vehicle .container .row span.tree{
		margin: 0 0 15px 15px;
	}
	.view-vehicle .container .row.col-md-11.padding0{
	    flex: 0 0 95.264%;
    	max-width: 95.264%;
	}
	.view-vehicle .container .row.col-md-11.padding0 .big-back{
		flex: 0 0 46.87%;
		max-width: 46.87%;
		padding-left: 0;
	}
	.view-vehicle .container .row.col-md-11.padding0 .big-back div{
		height: 315px;
		border-radius: 10px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	}
	.view-vehicle .container .row.col-md-11.padding0 .big-info{
		flex: 0 0 53.13%;
		max-width: 53.13%;
		border-radius: 10px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		padding: 20px 46px 0 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.view-vehicle .container .row.col-md-11.padding0 .big-info .infos{
		padding: 3px 26px 3px 0 ;
		border-bottom: 3px solid #EBEBEB;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.view-vehicle .container .row.col-md-11.padding0 .big-info span{
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
	}
	.view-vehicle .container .row.col-md-11.padding0 .big-info p,
	.view-vehicle .container .row.col-md-11.padding0 .big-info p a{
		font-size: 13px;
		line-height: 15px;	
		font-family: 'Roboto', sans-serif;
		margin: 0;
		color:#000;
	}
	.view-vehicle .container .row.col-md-11.padding0 .big-info .make-order{
		display: flex;
		align-items: center;
		justify-content: left;
		padding: 7px 0;
	}
	.view-vehicle .container .row.col-md-11.padding0 .big-info .make-order .profile{
		display: flex;
		align-items: center;
		justify-content: space-around;
		width:140px;
	}
	.view-vehicle .container .row.col-md-11.padding0 .big-info .make-order .profile .avatar{
		background-color: #EBEBEB !important;
		width: 48px;
		height: 42px;
		border-radius: 10px;
	}
	.view-vehicle .container .row.col-md-11.padding0 .big-info .make-order .profile label{
		display: flex;
		align-items: center;
		justify-content: center;
		color: #000;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
	}
	.view-vehicle .container .row.col-md-11.padding0 .order{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: left;
		padding: 45px 0 40px;
	}
	.view-vehicle .container .row.col-md-11.padding0 .order .cats{
		flex: 0 0 43.581%;
		max-width: 43.581%
	}
	.view-vehicle .container .row.col-md-11.padding0 .reviews{
		padding: 65px 0 22px 16px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: flex-start;
	}
	.view-vehicle .container .row.col-md-11.padding0 .reviews .review{
		width: 679px;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		padding: 14px 16px;
		display: flex;
		align-items: flex-start;
		justify-content: left;
		margin-bottom:10px;
	}
	.view-vehicle .container .row.col-md-11.padding0 .reviews .bg-review{
		width: 13.6%;
		height: 83px;
		border-radius: 10px;
		background-color: #EBEBEB !important;
	}
	.view-vehicle .container .row.col-md-11.padding0 .reviews .text-review{
		height: auto;
		width: 86.4%;
		padding: 0 32px 0 17px;
	}
	.view-vehicle .container .row.col-md-11.padding0 .reviews .text-review p{
		margin: 0;
		font-size: 13px;
		color: #000;
	}
	.view-vehicle .container .row.col-md-11.padding0 .reviews .text-review textarea{
		width:100%;
		font-size: 13px;
		line-height: 15px;
		color: #000;
		outline: 0;
		border:0;
		margin: 9px 0 0 0;
	}
	.view-vehicle .container .row.col-md-11.padding0 .reviews .text-review h6{
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		font-family: 'Roboto', sans-serif;
	}
	.view-vehicle .container .row.col-md-11.padding0 .reviews .write-review .stars,
	.view-vehicle .container .row.col-md-11.padding0 .reviews .write-review .stars:BEFORE,
	.view-vehicle .container .row.col-md-11.padding0 .reviews .write-review .stars:AFTER{
		font-size: 43px;
	}
	.view-vehicle .container .row.col-md-11.padding0 .reviews .stars:hover{
		cursor: pointer;
	}
/*END OF VIEW VEHICLE*/

/*CONTENT*/
	.content{
		max-width: 100%;
		width: 100%;
		position: absolute;
		bottom: 35px;
		/*z-index: 1;*/
	}
	.row .cats{
		z-index: 2;
		max-width: 35.79%;
		flex: 0 0 35.79%;
		padding: 0;
		background-color: #EBEBEB;
		border-radius: 10px 10px 2px 2px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	}
	.row .cats .title{
		background-color: #fff;
		border-radius: 10px 10px 0 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		padding: 0 9px 0 12px;
	}
	.row .cats .title h4,
	.row .cats .title span b{
		margin-right: 3px;
		font-size: 26px;
		line-height: 29px;
		font-weight: 300;
		font-family: 'Arial', sans-serif; 
	}
	.row .cats .title span{
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.row .cats .vehicles{
		width: 100%;
		margin: 3px 0 3px;
		background-color: #fff;
		padding: 29px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.row .cats .vehicles .row-vehicle{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
	.row .cats .vehicles .row-vehicle:nth-child(1){
		margin-bottom: 28px;
	}
	.row .cats .vehicles .row-vehicle a{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 11px;
		color: #000;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		padding: 1px;
		cursor: pointer;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		max-width: 60px;
		text-align: center;
	}
	.row .cats .vehicles .row-vehicle a span{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #FAD220;
		width: 57px;
		height: 57px;
		border-radius: 50%;
		margin-bottom: 3px;
		-webkit-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.2);
		box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.2);
	}
	.row .cats .vehicles .row-vehicle a label{
		margin:0;
	}
	.row .cats .vehicles .row-vehicle a:hover span{
		box-shadow: none !important;	
	}
	.row .cats .vehicles .subcats{
		position: absolute;
		background-color: #fff;
		border-radius: 5px;
		-webkit-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.4);
		box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.4);
		width: 280px;
		height: 171px;
		padding: 9px 7px 9px 9px;
	}
	.row .cats .vehicles .subcats p{
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		color: #000;
		margin: 0;
	}
	.row .cats .vehicles .subcats .close{
		cursor: pointer;
	}
	.row .cats .vehicles .subcats ul {
		display: block;
		overflow-y: auto;
		width: 100%;
		height: 100px;
		margin: 5px 0;
	}
	.row .cats .vehicles .subcats ul a{
		display: block;
		font-size: 14px;
		line-height: 16px;
		color: #000;
		text-align: center;
		margin-bottom: 5px;
	}
	.row .cats .vehicles .subcats ul a.up{
		position: absolute;
		top: 15px;
		left: 126px;
	}
	.row .cats .vehicles .subcats ul a.down{
		position: absolute;
		bottom: 0;
		left: 126px;
	}
	.row .cats .vehicles .subcats ul a:hover{
		color: gray !important;
	}
	.row .cats .search-box,
	.row .cats .input-box{
		width: 100%;
		background-color: #fff;
		border-radius: 3px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	header .input-box{
		width: 100%;
		background-color: #fff;
		border-radius: 3px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.row .cats .input-box button{
		background-color: #FAD220;
		border: 0;
		border-radius: 10px;
		font-size: 14px;
		color: #000;
		font-weight: 500;
		padding: 7px 0;
		width: 145px;
	}
	.row .cats .search-box input[type='text']{
		margin: 0;
		text-align: center;
		width: 100%;
		color: #000;
		font-size: 16px;
		border: 0;
	}
	.row .cats .search-box input[type='text']::placeholder{
		color: #00000030;
		font-size: 16px;
	}
	.row .cats .search-box button{
		background-color: transparent;
		border:0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	.row .cats .form{
		padding-top: 15px;
		padding-bottom: 3px;
		width: 100%;
		margin: 3px 0 3px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.input-group {
		position: relative;
		width: 234px;
		margin-bottom: 17px;
	}
	div.error {
		margin-top: -15px;
		color: red;
		font-size: 12px;
		margin-bottom: 5px;
		text-align: center;
	}
	.form-control {
		text-align: center;
		text-align-last: center;
		padding: 0;
		border-radius: 0 !important;
		position: relative;
		z-index: 4;
		width: 100%;
		height: 25px;
		font-size: 12px;
		font-weight: 500;
		color: #000;
		border: none;
		border-bottom: 3px solid #EBEBEB;
		background-color: transparent;
	}
	select.form-control{
		height: 25px !important;
		padding-left: 10px;
	}
	.form-control::placeholder{
		color: #000;
		font-family: "Roboto";
		font-size: 12px;
		font-weight: 500;
	}
	.form-control + label {
		position: absolute;
		top: 0;
		width: 100%;
		text-align: center;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.5);
		transition: all .2s ease-out;
	}
	.input-group span {
		position: absolute;
		top: -2px;
		left: 3px;
		z-index: 3;
	}
	.form-control:focus,
	.form-control.focused {
		background-color: transparent;
		outline: none;
		/*border-width: 2px;*/
		border-color: #66afe9;
		transition: all .2s ease-out;
	}
	.form-control:disabled{
		background-color: transparent;
	}
	.form-control.warning {
		border-color: #f35821;
	}
	.form-control.warning + label {
		color: #f35821;		
	}
	.form-control:focus + label, .form-control.has-value + label {
		top: -15px;
		color: #000000 !important;
		font-size: 11px;
	}
	.form-control:focus .form-span{
		z-index: 3;
	}
	.form-control.has-value:not(:focus) + label {
		color: #999999;
	}
	.row .second{
		z-index: 2;
		padding: 0 15px;
		height: 315px;
	}
	.row .status{
		width: 290px;
		height: 145px;
		background-color: #fff;
		z-index: 2;
		border-radius: 10px;
		padding: 15px;
		margin-bottom: 25px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	}
	.row .status:nth-child(2){
		padding: 5px 10px;
	}
	.row .status .form{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.row .status .form .input-box{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	} 
	.input-box .dbutton,
	header .input-box .dbutton,
	.section-vehicle .form .input-box .dbutton{
		background-color: #FAD220;
		border: 0;
		border-radius: 10px;
		font-size: 14px;
		color: #000;
		font-weight: 500;
		padding: 5px 0;
		width: 125px;
	}
	.row .status .form .input-box .info-status{
		width: 46.3%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.row .status .form .input-box .info-status span{
		font-size: 12px;
		font-weight: 500;
		color: #000;
	}
	.row .status .form .order-status{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.row .status .form .order-status .order-status-img{
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center !important;
		width: 90px;
		height: 67px;
		border-radius: 5px;
	}
	.row .status .form .hr{
		height: 3px;
		width: 100%;
		background-color: #EBEBEB;
	}
	.row .third{
		z-index: 2;
		border-radius: 10px;
		background-color: #fff;
		width: 290px;
		height: 315px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	}
	.row .third{
		font-size: 20px;
		font-weight: 500;
		color: #000;
	}
/*END OF CONTENT*/

/*SCROLLBAR;*/
	.content *::-webkit-scrollbar-track,
	.leftside *::-webkit-scrollbar-track,
	*::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: rgb(0, 0, 0, 0.2);
		border-radius: 5px !important;
	}
	.content *::-webkit-scrollbar,
	.leftside *::-webkit-scrollbar,
	*::-webkit-scrollbar
	{
		position: absolute;
		right: 0;
		width: 4px;
		border-radius: 5px !important;
		background-color: rgb(0, 0, 0, 0.2);
	}
	.content *::-webkit-scrollbar-thumb,
	.leftside *::-webkit-scrollbar-thumb,
	*::-webkit-scrollbar-thumb
	{
		border-radius: 5px !important;
		background-color: #000;
	}
/*END OF SCROLLBAR*/

/*FOOTER*/
	footer{
		box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.2);
		background-color: #FAD220;
		height: 157px;
		width:100%;
		padding: 10px 0 15px;
	}
	footer .container-fluid{
		height: 100%;
	}
	footer .container-fluid .container{
		height: 100%;
	}
	footer .container-fluid .container .row {
		height: 100%;
		display: flex;
		justify-content: center;
	}
	footer .container-fluid .container .row div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	footer .container-fluid .container .row div.col-md-3.padding0{
		justify-content: space-around;
	}
	footer .container-fluid .container .row .col-md-2 h6,
	footer .container-fluid .container .row a{
		font-size: 15px;
		font-family: 'Arial', sans-serif;
		color: #000;
		text-align: center;
	}
	footer .container-fluid .container .row a:hover,
	footer .container-fluid .container .row a:hover svg *{
		color: #1C4FC4;
		fill: #1C4FC4 !important;
	}
	footer .container-fluid .container .row div.col-md-2.padding0 .social{
		margin-top: 5px;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
	}
	footer .container-fluid .container .row div.col-md-3.padding0 .round{
		justify-content: center;
		background-color: #fff;
		border-radius: 10px;
		height: 87px;
		width:100%;	
	}
	footer .container-fluid .container .row div.col-md-3.padding0 .round h6{
		line-height: 20px;
	}
	footer .container-fluid .container .row div.col-md-2.padding0 a,
	footer .container-fluid .container .row div.col-md-2.padding0 a img{
		margin-bottom: 3px;
		margin-left: 3px;
		display: block;
		max-width: 100%;
	} 
/*END OF FOOTER*/

/*LEFT-AUTH*/
	.left-auth{
		position: fixed;
		left: 0;
		background-color: #FAD220;
		width: 290px;
		overflow-y: auto;
	}
	.left-auth .leftbar{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100%;
		padding: 20px 0;
		background-color: #FAD220;
	}
	.left-auth .leftbar img{
		margin-bottom: 28px;
	}
	.left-auth .leftbar h2.bluetitle{
		width:82%;
		padding-bottom: 7px;
		text-align: center;
		border-bottom: 1px solid #000;
	}
	.left-auth .leftbar .form{
		padding: 45px 0;
		width:82%;
	}
	.left-auth .leftbar .form h6{
		font-size: 15px;
		color: #000;
		opacity: .8;
		margin-bottom:20px;
		margin-top:6px;
	}
	.left-auth .leftbar .form .input-group{
		width: 100%;
	}
	.left-auth .leftbar .form .form-control{
		border-bottom: 2px solid #000;
		font-weight: 600;
		font-size: 14px;
	}
	.left-auth .leftbar .form .continue{
		width: 100%;
		background-color: transparent;
		border:0;
		cursor:pointer;
		font-weight: 600;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
	}
/*END OF LEFT-AUTH*/

/*HOME2*/
	.home2{
		margin-left: 290px;
		height: 100%;
		min-height:calc(100vh - 157px);
	}
	.home2 .page-content{
		padding: 0 20px;
		min-height: 700px;
		/*background: url('../images/background1.jpg');*/
		/*background-repeat: no-repeat;*/
		/*background-size: calc(100vw - 290px) calc(100vh);*/
		/*background-position: center;*/
		background-color: #f9f9f9;
	}
	.home2 .page-content{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.home2 .page-content .top-header h2{
		font-size: 56px;
		font-family: 'Arial', sans-serif;
		color: rgb(68,83,105);
		font-weight: bold;
		text-transform: uppercase;
	}
	.home2 .page-content .rotate{
		transform: rotate(-45deg);
	}
	.home2 .page-content .first-circle{
		border: 40px solid #FAD220; 
		border-radius: 320px 320px 0 0;
		border-bottom: 0;
		background-color: transparent; 
		width:320px;
		height:160px;
		margin-bottom:130px;
		/*transform: rotate(-45deg);*/
	}
	.home2 .page-content .rectangle{
		width: 515px; 
		height: 202px; 
		background-color: #f9f9f9; 
		position: absolute; 
		top:300px; 
		left:535px;
		transform: rotate(-45deg);
	}
	.home2 .page-content .second-circle{
		border: 40px solid #FAD220; 
		border-radius:0 0 336px 336px;
		border-top: 0;
		background-color: transparent; 
		width:336px;
		height:168px; 
		margin-left: -100px; 
		margin-top: 0px;
		/*transform: rotate(-45deg);*/
	}
/*END OF HOME2 */

/*STROIMATERIALY*/
	.materials.col-md-12{
		padding: 45px 62px 45px 10px;
	}
	.materials.col-md-12 .material{
		width: 100%;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		margin-bottom: 20px;
		border-radius: 10px;
		height: 350px;
		display: flex;
	}
	.materials.col-md-12 .material .material-img{
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center !important;
		height: 100%;
		width: 42%;
		border-radius: 10px 0 0 10px;
	}
	.materials.col-md-12 .material .material-text{
		width: 58%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #EBEBEB;
		border-radius: 0 10px 10px 0;
		padding: 0 28px 0 48px;
	}
	.materials.col-md-12 .material .material-text h5{
		margin-bottom: 30px;
		font-size: 23px;
		font-weight: 600;
	}
	.materials.col-md-12 .material .material-text p{
		text-align: center;
		font-size: 15px;
		font-family: 'Arial', sans-serif;
	}
/*END OF STROIMATERIALY*/

/*NOTIFICATIONS*/
	.notifications{
		position: fixed;
		right: 20px;
		bottom: 20px;
		z-index: 5;
	}
	.notifications .notification{
		width: 500px;
		height: 0;
		opacity: 0;
		transition: all .5s ease;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
		margin-bottom: 10px;
		border-radius: 10px;
		display: flex;
		background-color: #fff;
		padding: 15px 6px 15px 25px;
	}
	.notifications .notification *{
		opacity: 0;
	}
	.notifications .notification a.close{
		cursor: pointer;
		right: 6px;
		top: 3px;
	}
	.notifications .notification .notification-img{
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center !important;
		width: 29%;
		opacity: 0;
		border-radius: 10px;
	}
	.notifications .notification .notification-text{
		width: 71%;
		padding: 0 15px;
		display: flex;
		opacity: 0;
		flex-direction: column;
		justify-content: space-around;
	}
	.notifications .notification .notification-text h6{
		font-weight: 600;
		color: #000;
		font-size: 19px;
		line-height: 22px;
	}
	.notifications .notification .notification-text p{
		font-size: 14px;
		font-family: 'Arial', sans-serif;
		line-height: 16px;
	}
	.notifications .notification.active{
		opacity: 1;
		height: 133px;
	}
	.notifications .notification.active *{
		opacity: 1;
	}
/*END OF NOTIFICATIONS*/
	.bigform{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
/*MARKERINFO*/
	.marker-info{
		padding: 15px 10px;
		width: 280px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
		margin-top:10px;
		background-color: #fff;
	}
	.marker-info .header{
		width:95%;
		border-bottom: 3px solid #EBEBEB;
		padding: 10px 0 20px 0;
		margin-bottom:10px;
	}
	.marker-info .header .user-avatar{
		background-color: #EBEBEB;
		width: 71px;
		height: 65px;
		border-radius: 5px;
	}
	.marker-info .header .user-info{
		padding: 0 10px;
		width: 176px;
		height: 65px;
	}
	.marker-info .header .user-info h6{
		font-weight: 500;
		font-size: 17px;
		color: #000;
	}
	.marker-info .header .user-info span{
		font-weight: 500;
		font-size: 12px;
		color: #000;
	}
	.marker-info .order{
		margin-bottom:20px;
		width: 95%;
	}
	.marker-info .order .order-avatar{
		border-radius: 5px;
		min-width: 90px;
		height: 68px;
	}
	.marker-info .order .order-info{
		padding: 0 0 0 20px;
	}
	.marker-info .order .order-info h6{
		font-weight: 500;
		font-size: 17px;
		color: #000;
	}
	.marker-info .order .order-info span{
		font-weight: 500;
		font-size: 12px;
		color: #000;
		line-height: 15px;
	}
	.marker-info .form .input-group{
		max-width:216px !important;
	}
/*END OF MARKERINFO*/